[2013-08-19 21:53] benogle opened #1 "script/build fails compiling tabs LESS"
[code]

Not sure why this hasnt come up in the past. Looks like every other use of the octicons. Also `x` is not prefixed with an `@`

[2013-09-17 03:10] gjtorikian opened #2 "Add tooltip indicating tab file location"
If each tab div had some `data-title` attribute, users could get the path to the file they're looking at when they're hovering over a tab:

![screen shot 2013-09-16 at 8 10 18 pm](https://f.cloud.github.com/assets/64050/1154476/b69cae86-1f46-11e3-85d5-1e9695406aa2.png)

Super bonus points if I can copy that text to the clipboard somehow, which is what I want to do most of the time ( _e.g._ to run

[2013-10-18 20:03] mcolyer opened #4 "Context Menu"
It'd be cool if you could right click on a tab to close it or close others (just like in Chrome). Unfortunately we need a way to specify the hovered element in the command so this might take a bit of work to get right.

[2013-10-31 16:45] #1 closed, assigned to nobody

[2013-10-31 21:52] kevinsawicki opened #5 "Two tabs somehow selected"
![screen shot 2013-10-31 at 2 52 17 pm](https://f.cloud.github.com/assets/671378/1450188/bbc3147e-4276-11e3-8c80-aa7ee420dc59.png)

/cc @benogle not sure if related to fnr changes

[2013-11-01 21:49] #5 closed, assigned to nobody

[2013-11-22 23:30] #2 closed, assigned to nobody

[2013-11-26 14:36] mcolyer opened #7 "Tooltip won't go away"
I had a tab open, hovered my mouse over the label and then closed the tab. Now I have a permanent tooltip I can't remove.

![screen shot 2013-11-26 at 9 33 07 am](https://f.cloud.github.com/assets/1424/1622580/08fa1b9e-56a8-11e3-9db8-4369e6d6128c.png)

I believe this is related to cba58546

[2013-11-26 23:47] #7 closed, assigned to nobody

[2013-12-04 02:35] gjtorikian opened #8 "Tooltips hang around"
I cannot seem to recreate the problem, but it happens pretty often.

![screen shot 2013-12-03 at 6 32 16 pm](https://f.cloud.github.com/assets/64050/1670107/bf38c6a0-5c8c-11e3-991c-5760c445b7f9.png)

[2013-12-04 05:00] #8 closed, assigned to nobody

[2013-12-12 02:12] mcolyer opened #9 "Last tab seems extra long"
Is this intentional?

![screen shot 2013-12-11 at 6 12 06 pm](https://f.cloud.github.com/assets/1424/1730085/e23738b6-62d2-11e3-88f6-0cfa49ce9e98.png)

[2013-12-12 02:19] #9 closed, assigned to nobody

[2014-01-17 17:17] kevinsawicki opened #11 "Tab not being show as active"
The search results view has focus yet the tab doesn't indicate it.

![screen shot 2014-01-17 at 9 17 01 am](https://f.cloud.github.com/assets/671378/1942556/485ccaea-7f9b-11e3-96bf-f92575eb3b6c.png)

/cc @nathansobo

[2014-01-17 18:10] #11 closed, assigned to nobody

[2014-02-03 16:29] kevinsawicki opened #12 "Tooltip doesn't update on rename"
Old path is still shown when hovering over renamed buffer

[2014-02-27 00:54] entombedvirus opened #13 "Feature Request: Middle Click closes tab"
It would be awesome if middle clicking on the tab closed it.

[2014-02-27 09:55] ssteinker opened #17 "Next/Previous File in Stack"
What is about a "Next/Previous File in Stack"-Shortcut like in Chrome?
"ctrl + TAB" for next file
"ctrl + shift + TAB" for previous file

cheers,
Sven

[2014-02-28 10:36] hkdobrev opened #18 "Add option to disable tab animation"
When switching tabs there is a small animation of the text. The previously active tab text fades out, the active tab text fades in.

![tabs-animation](https://f.cloud.github.com/assets/506129/2292953/0c25959a-a064-11e3-8656-64919830c40e.gif)

I'd really like to turn this off. Could there be an option for that?

---

I've actually couldn't figure out where the animation is coming from in the code.

[2014-02-28 17:51] lilyball opened #19 "Multiple panes in a window all show active tab the same"
When there's multiple panes in an Atom window (e.g. when you trigger Markdown Preview on the Welcome buffer), the active tab in each pane renders identically, making it hard to tell which pane has focus.

[2014-03-01 22:42] #13 closed, assigned to nobody

[2014-03-02 23:05] #4 closed, assigned to nobody

[2014-03-03 15:51] eklein opened #21 "Unable to select tabs with mouse until I use keyboard shortcut"
Often times, if I click the tabs, nothing will happen (they stay grayed out).  Once I use the keyboard shortcuts (cmd-1 cmd-2, etc), then I can click the tabs and actually select them.

[2014-03-03 19:11] ukd1 opened #22 ""Close others" option for tabs"
Sometimes when looking for a specific bit of code I'll end up opening a few files, then want to close the others. This is super handy in Sublime.

[2014-03-03 19:12] #22 closed, assigned to nobody

[2014-03-05 08:39] fnky opened #24 "Add "new tabs" button to add tabs with a click."
The ability to add a new tab by clicking a button. This adds to the UX design.

[2014-03-05 23:59] taylorlapeyre opened #26 "Change the cursor from pointer to default on the close button"
Having the cursor become a "hand" when hovering over the close button on a tab looks very "web" and not very native. Instead, just use the default pointer and add a hoverstate to the close icon.

A rudimentary example can be seen by adding the following to your stylesheet:

[code]

After doing this, closing tabs feels much snappier.

[2014-03-07 00:31] #24 closed, assigned to nobody

[2014-03-08 22:22] #26 closed, assigned to nobody

[2014-03-09 04:51] tony612 opened #28 "The editor is not focused when I click a tab"
When I click a tab, I hope the editor of the tab will be focused, but in vain. But if I use command+number to switch the tab, it works. I tries to debug but have not find the solution even if I call the same function `@pane.activateItem(tab.item)` in the same way as the `pane:show-item-[n]` command does.

Any idea?

[2014-03-09 11:58] umurgdk opened #29 "Context menu items repeated"
I just came with that situation, when i right click to one my tabs.
![screen shot 2014-03-09 at 13 54 51](https://f.cloud.github.com/assets/624974/2367870/26218916-a782-11e3-80f0-9ec8e58a31d7.png)

[2014-03-10 15:51] #28 closed, assigned to nobody

[2014-03-11 10:28] richrace opened #31 "Cannot drag tabs"
I can't seem to be able to move the ordering of tabs after the most recent Atom update by dragging a tab.

Atom version: 0.70

[2014-03-11 15:06] #31 closed, assigned to nobody

[2014-03-11 19:45] kelhusseiny opened #32 "Tabs always open with one click"
It's very annoying thing that when I click on any file, it always opens a new tab for that file, so when I review multiple files I find tens of tabs up there.
so, please make tabs are opened permanently just in case I double clicked it or I any file modification.

[2014-03-11 19:59] #32 closed, assigned to nobody

[2014-03-12 14:51] davidbarratt opened #33 "Always Open File in New Tab"
I'm not sure if this issue should go here or on Tree.

Basically when you open a file, it sometimes opens in new tab and sometimes opens in a new window. The behavior is rather unexpected. I think it would have been more expected if it worked like a browser (always opens in a new tab unless explicitly told to open in a new window). Or it might be nice to have options to fit peoples needs.

I under

[2014-03-13 20:34] richrace opened #34 "core:close event should be triggered?"
Should there be a `core:close` when clicking the X button on a tab?

If using `cmd + w` to close the tab one gets fired.

[2014-03-14 00:50] coldie opened #35 "Focus tab on mouse up causes unintended tab focus change"
When selecting a block of text within an editor, drag the cursor out of the editor window, onto a tab and release it.

Alternatively, just mouse down anywhere in the editor and then mouse up over a tab and the tab will focus.

![atom-mouse-tabs](https://f.cloud.github.com/assets/23649/2416991/924651a6-ab12-11e3-8749-ecf13835e726.gif)

[2014-03-14 01:01] #35 closed, assigned to nobody

[2014-03-14 17:03] #34 closed, assigned to nobody

[2014-03-14 17:39] #18 closed, assigned to nobody

[2014-03-17 22:30] emainier opened #36 "Lots of open tabs decrease performance and crash on tab close."
The performance decrease when a lot of tabs are open. Sometime the editor crash when I try to close tabs : a window is asking if I want to wait or to close the editor.

If I choose "close", when I try to reopen the same folder, all my tabs are open, so the editor crash again as soon as I try to close some tabs.

To reproduce:
-open a folder
-open a lot of files in editor tabs (about 50)
-right cli

[2014-03-19 23:19] bentleyjensen opened #37 "Tab to new window closes target window"
In chrome, you can drag tabs to-and-fro from an existing window to an existing window, but in atom's case the target window just closes, with all it's tabs and everything else. The target window does this whether it already has open tabs or not. <code>alt+cmd+i</code> console doesn't show anything, neither does console.app.

Reproduce:
- Open two windows
- Drag a tab to the "other" window
- Watch

[2014-03-21 09:10] ghost opened #38 "Big tabs looks ugly"
After starting the editor, the first thing that I noticed, it's big and ugly tab. They take up too much space. Might make them a little less?

[2014-03-21 17:21] #38 closed, assigned to nobody

[2014-03-21 19:11] chamons opened #39 "Pop out tabs to create new editor window"
In many "tab" based products, you can grab a tab and "pop it out" to create a new window with that content. That would be awesome for atom when you want to windows side by side.

[2014-03-21 19:12] chamons opened #40 ""Crash" when dragging tabs between top level atom windows"
Steps to reproduce
Open atom
Open at least 1 tab
New top level menu (from File menu)
Grab open tab, drag to 2nd window
2nd window closes (crash?)

[2014-03-25 00:25] #40 closed, assigned to nobody

[2014-03-26 22:04] caged opened #41 "Add style hook that represents the linked view (search-results, image, etc.)"
It would be useful to allow views to specify a className, so different types of tabs could be styled differently.

As an example, I sometimes I have trouble finding my previous search results tab.  If this tab had a class `results-view`, I could style it a different way so it stands out amongst the other tabs I have open.

I don't mind taking a crack at this if you have some opinions on how we sho

[2014-03-28 21:03] iluvcapra opened #42 "Unable to Drag Tabs Between Windows"
I'm unable to drag a pane or a tabbed view from one window to another.  I get the appropriate feedback during the drag: a (+) badge appears on the cursor when I start the drag, a cursor/insertion mark appears on the tab bar of the destination window, but when I release the drag on the destination tab bar, the destination window disappears.

Running  Mac OS X 10.9.2, Darwin Kernel Version 13.1.0: T

[2014-03-28 21:06] #42 closed, assigned to nobody

[2014-04-01 00:52] #37 closed, assigned to kevinsawicki

[2014-04-02 13:43] dansondergaard opened #46 "No hover effect on tabs"
There seems to be no change/effect when the mouse hovers upon a tab or the tabs close icon. Quite frustrating since it looks like it doesn't work.

I'm running Mac OS X 10.9.2. Tried taking a screenshot, but OS X removes the cursor.

[2014-04-08 18:06] #46 closed, assigned to nobody

[2014-05-04 11:22] BlackWolf opened #48 "No Tabs in fullscreen"
When using the OS  X fullscreen mode, tabs are not shown in the current version of atom (0.92). Switching between tabs using keyboard shortcuts is still possible.

[2014-05-05 16:44] #48 closed, assigned to nobody

[2014-05-05 16:47] #41 closed, assigned to izuzak

[2014-05-08 01:57] Jierr opened #49 "Tabs ordered vertically instead of horizontally"
Can you add this option? It would look like tree-view and helps if you have opened shitloads of tabs.

[2014-05-14 02:58] jesperalmstrom opened #51 "Text for some tabs is blurry on OSX"
When dragging the atom window from the retina display to a external display the tab text becomes blurry.
![screen shot 2014-05-13 at 10 43 41 am](https://cloud.githubusercontent.com/assets/6968138/2966478/0d6981d4-db13-11e3-9986-e577d9bf9fc8.png)
The other texts look fine (as you see in the screen shot).

This only happens to the first tab. If you open a second tab and highlight that one, it looks

[2014-05-14 06:54] pritambaral opened #52 "[Linux] Closing tab with middle mouse button pastes text in the next open tab"
From atom/atom#2137

The middle mouse button should paste from clipboard on a text area. That happens. But when middle-clicking on tabs, it closes the tab and then pastes from clipboard in the next focused text area. It should not happen.

Here is a video showing the bug: https://dl.dropboxusercontent.com/u/96940816/bug.ogv

[2014-05-14 14:52] ghost opened #54 "Linux: can't use scroll wheel to switch between tabs"
This works with all native applications, but not with Atom. Seems to go against user expectations. Mouse wheel up (anywhere within the tab bar) should switch to the previous tab, and mouse wheel down should switch to the next tab.

[2014-05-18 16:38] varemenos opened #56 "Mouse scroll to change tabs"
Please give us the ability to move through open tabs via using the mouse scroll.

[2014-05-18 16:38] #56 closed, assigned to nobody

[2014-05-22 10:26] matteo-webdev opened #57 "Differentiating tabs title for opened files with the same name but in different folders"
When different files with the same name (but in different folders) are opened there is no easy way to tell which ones is which by looking at the title in the tabs.
In Sublime Text this differentiation is achieved by appending the path to the file (from the root of the project) to the names of the same-named files in the tab.
It would be nice to replicate this feature in Atom.

I attach a pair of s

[2014-05-27 10:10] izuzak opened #58 "Button for closing a tab blinks on hover, when document is unsaved"
_(Originally reported in https://github.com/atom/atom/issues/2188 by @cubuspl42)_
1. Open Atom
2. Type any letters
3. Move your mouse under the button for closing a tab

Here is a very short video:
http://youtu.be/NCLCjgLzyBY

[2014-05-28 21:34] #51 closed, assigned to nobody

[2014-05-29 18:53] #57 closed, assigned to nobody

[2014-06-17 14:07] douglascamata opened #61 "Commands matching tab contextual menu (right-click on a tab)"
I'm missing a lot commands for the tab contextual menu actions, like "Close all", "Close unmodiffied", "Close saved", etc and I guess many other users are missing them too.

[2014-06-19 21:53] #19 closed, assigned to nobody

[2014-06-19 22:03] #21 closed, assigned to nobody

[2014-06-24 23:17] dmnd opened #62 "Text for tabs is blurry on external display in OS X with animated cursor"
![image](http://i.gyazo.com/9fa6cdae878acc78c446a464c7365a80.gif)

This looks similar to #51 but it only happens when I have an animation enabled for my cursor, and only on an external display. Here's the CSS for the animated cursor:

[code]

Note that the tab text is only blurry when the cursor is displayed - upon mousedown and when text is selected, there is no blurriness.

[2014-07-01 21:42] #62 closed, assigned to benogle

[2014-07-03 10:21] philipgiuliani opened #64 "Bug when the Tab has unsaved changes"
If the tab has unsaved changes, there is a display bug. It also happens on tabs with shorter names. Could be because of the file-type-icon extension, but in the 106 Version it worked so i think it should be made compatible.
![errrorrr](https://cloud.githubusercontent.com/assets/5446019/3468270/d050a72c-029b-11e4-87d4-84bc71ecba32.gif)

Atom Version: 0.107, Editor: React

[2014-07-04 00:03] #64 closed, assigned to nobody

[2014-07-04 00:21] #58 closed, assigned to nobody

[2014-07-04 22:05] fbrundu opened #66 "Tooltip not rendered correctly with long filepaths"
Hi,
I found this problem on Atom v0.108.0, Ubuntu 14.04

![atom](https://cloud.githubusercontent.com/assets/697622/3485126/90a10b72-03c6-11e4-9bf9-4d2652dd6583.png)

When the path is too long, the arrow of the tooltip is far away from the tooltip.
I got no errors on developer tools.

Thanks

[2014-07-07 17:43] #54 closed, assigned to nobody

[2014-07-14 18:15] JLoppert opened #67 "Tabs are created off screen"
Windows 7, Atom version 0.115.0

Opening a large number of files (21 <) causes new tabs to be opened off screen.

Ctrl + Tabbing through opened tabs does not bring the current tab on screen.

![croppercapture 2](https://cloud.githubusercontent.com/assets/1620641/3574814/1735eeec-0b82-11e4-9384-5291d385bb47.Gif)

[2014-07-25 07:16] charliewilco opened #70 "Styling the Tool Tips"
not entirely sure how to style these tool tips, can't find them in the DOM
can someone point me in the right direction? thanks!

![screen shot 2014-07-25 at 3 15 39 am](https://cloud.githubusercontent.com/assets/4588060/3698947/8a8aa706-13cb-11e4-8dbb-dee18a203869.png)

[2014-07-25 15:32] #70 closed, assigned to nobody

[2014-07-28 16:50] kaiserfro opened #71 "Unable to drag non-editor tabs between windows"
I'm unable to drag and drop a view that is generated from a custom uri handler to another atom process and have it open with the custom handler.

For instance.  There is a hex viewer package at abe-estrada/atom-hex.  It registers a new URI handler called hex://.  When a file is opened using this handler the view is of the file, but in a hex view, instead of a standard editor.

Now that I have this

[2014-08-09 22:30] Bengt opened #74 "Drag & Drop on Settings Fails"
When I drag the "Settings" pane and drop it at another window, I only get a new `untitled` buffer there.

Fedora Linux 20, 64bit
Atom 0.120.0-b3c2417
Tabs 0.48.0

[2014-08-09 22:33] #74 closed, assigned to nobody

[2014-08-11 18:07] jamischarles opened #75 "Include pathname in tab"
I couldn't find this in any other package. If this exists and I missed it, my apologies.

When using MVC JS projects it's common to have similar named files across several folder like:

model/user.js   view/user.js

Can we have an option to show the relative path in the tab name (relative to the project)? (not just on hover)

[2014-08-11 18:08] #75 closed, assigned to nobody

[2014-08-14 12:58] fungilation opened #76 "[Feature Request] Flow too many tabs to multiple lines"
One thing I notice from Webstorm that's great is it flows tabs onto 2 (or more?) lines when there's too many. This is a common occurrence I'm sure with many programmers having many files open, and tabs so crowded you can't read the filenames on the tabs anymore.

PS. Issue originally filed at https://github.com/atom/atom/issues/3260

[2014-08-19 19:02] thedaniel opened #77 "Tab list out of sync with display / tab switching happens out of order"
I've experienced a bug a couple times in the past week where the list of tabs in `atom.workspace.getActivePane().items` is in a different order than the tabs are displayed. The practical result of this is hitting `⌘-{` to cycle through the tabs jumps around the list rather than going from right to left one at a time. As you can imagine this is pretty annoying. I haven't figured out how to reliably

[2014-08-19 19:17] #77 closed, assigned to nobody

[2014-08-26 21:37] lee-dohm opened #79 "data-path attribute doesn't match pattern in other packages"
The packages in question are tree-view, fuzzy-finder and tabs. All three have places where they display filenames with `data-name` and `data-path` attributes. In tree-view and fuzzy-finder, the `data-path` attribute is populated with the relative path of the file. The `data-path` attribute is populated with the absolute path to the file in the tabs package.

[2014-08-27 22:01] #71 closed, assigned to nobody

[2014-08-29 16:20] #79 closed, assigned to nobody

[2014-08-30 11:44] richrace opened #80 "After moving Tab: scrolling issue (auto scrolls to top)"
When moving a pane item to a new tab the scrolling becomes near impossible as it auto scrolls to the top. I have to close the tab and reopen it stop the issue.

![scroll_gif](https://cloud.githubusercontent.com/assets/1273965/4098836/f7ce8e10-3039-11e4-9db4-5779e08797cc.gif)

This is Atom 0.124.0 and Mac OS/X 10.9.4

I do get the warning: `EditorScrollView scrolled when it shouldn't have.` in `/Ap

[2014-09-03 18:26] #80 closed, assigned to nobody

[2014-09-10 18:54] kevinsawicki opened #81 "Specs fail on Windows"
[code]

[2014-09-16 17:39] #81 closed, assigned to kevinsawicki

[2014-09-25 14:54] philipgiuliani opened #83 "Cannot read property 'destroy' of undefined"
I was opening and closing tabs very fast, and then i got this error.

I didn't run atom in safe mode and the version is 0.131.0. Of course it could be happened because of a plugin, but i dont have a lot of packages and this seems to be a tabs bug. Im not able to reproduce this bug.

![bildschirmfoto 2014-09-25 um 16 52 02](https://cloud.githubusercontent.com/assets/5446019/4406520/9cbb4ccc-44c3-11

[2014-09-25 16:07] #83 closed, assigned to kevinsawicki

[2014-09-26 18:27] bwiklund opened #84 "Tab bar disappears entirely"
I had this happen on a project, it was persistent even if i closed and reloaded the editor. The solution was to use the command palette to 'close pane' which actually closed a lot of tabs, it seemed. Then reloading the window fixed it. Not sure what the original cause of the problem was.

[2014-09-28 10:18] m1ga opened #85 "Split right/left in Context menu"
Would be nice to have the option to split pane right/left inside the context menu so you can quickly put a tab to the site

[2014-09-29 15:57] #84 closed, assigned to nobody

[2014-09-29 18:06] #85 closed, assigned to kevinsawicki

[2014-10-10 23:29] rakkarage opened #86 "tab path tooltip arrow offset"
![1](https://cloud.githubusercontent.com/assets/962340/4600465/0b437936-50d5-11e4-803a-68afae7550d4.png)

on windows
seems to happen for all paths
seems to be recent?

nitpicky i know but might as well report it :)

thanks

[2014-10-17 17:02] timscott opened #87 "Tabs fails sometimes"
Today I created a new Ruby on Rails app and opened it in Atom, and I get this error, and there are no tabs. I open other RoR apps, and I do not get this error. I do not have an idea what might be different.

[code]

[2014-10-17 19:36] #87 closed, assigned to nobody

[2014-10-18 19:29] ahuth opened #88 "Use of `stopPropagation` when dropping tabs"
Would it be possible to not use `stopPropagation` when the tabs-bar is [responding to a tab being dropped on it](https://github.com/atom/tabs/blob/59915edb978eab639c5d825786188ec9cbd8a8ef/lib/tab-bar-view.coffee#L249)?

Not sure if there's a reason for why the event is stopped there or not.

In [my package](https://github.com/ahuth/preview-tabs), I want to listen for drop events from the tab-bar o

[2014-10-21 01:56] #88 closed, assigned to nobody

[2014-10-24 17:53] reel opened #90 "Ubuntu 14.04 - Stalled on closing settings tab"
With version 0.139.0-dfc0df4, when we open a fresh atom, use Ctrl+, to go in the Settings, then close the Settings tab EITHER by clicking the X or Ctrl+W, Developper panel opens and we get this stack. We have to close and re-open atom to work again...

[code]

[2014-10-24 18:50] #90 closed, assigned to nobody

[2014-11-07 13:29] abe33 opened #91 "Editor disappearing on drag and drop"
Given 2 panes with the same file open in both, dragging one tab to the other pane and then back to its original pane seems to destroy the tab's editor, resulting in an empty pane:

![screen](http://i.imgur.com/LglOMGy.gif)
- OSX 10.10
- Atom Version 0.143.0-b29a61e
- Tabs 0.55.0
- Gif created in safe mode

[2014-11-10 21:09] #91 closed, assigned to nobody

[2014-11-14 19:02] #67 closed, assigned to simurai

[2014-11-16 17:29] #76 closed, assigned to nobody

[2014-11-18 17:30] bdharrington7 opened #92 "Tabs don't show in atom version 0.146.0"
in Tabs ver. 0.55.0, the tabs don't show up at all in Atom version 0.146.0

[2014-11-18 19:40] #92 closed, assigned to nobody

[2014-11-21 22:42] nathansobo opened #93 "Closing an inactive tab steals focus from the currently focused text editor"
Steps to reproduce:
- Open two text editors
- Click the `x` on the inactive editor's tab to close it
- The editor in the foreground loses focus

[2014-12-04 01:27] sbromberger opened #95 "Can't create multiple blank tabs"
cmd-n (application:new-file) will open a new tab, but once open, subsequent cmd-n's won't create new tabs until the first tab receives some input.

[2014-12-04 01:49] #95 closed, assigned to nobody

[2014-12-11 09:22] whzhyh opened #96 "Uncaught TypeError: Cannot read property 'destroy' of undefined"
Uncaught TypeError: Cannot read property 'destroy' of undefined

**Atom Version**: 0.156.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.57.0
### Steps To Reproduce
1. ...
2. ...
### Stack Trace

[code]

/cc @atom/core

[2014-12-12 21:31] adamellsworth opened #97 "Uncaught Error: The workspace can only contain one instance of item [object Object]"
Uncaught Error: The workspace can only contain one instance of item [object Object]

**Atom Version**: 0.157.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.57.0
### Steps To Reproduce
1. Open project root (cmd + o)
2. Open new Atom window
3. Open file in either atom window
4. 'Accidentally' hold (ctrl) while grabbing the tab to move it to the other

[2014-12-16 01:53] aarongreenlee opened #98 "Uncaught TypeError: Cannot read property 'destroy' of undefined"
![screen shot 2014-12-15 at 10 17 48 pm](https://cloud.githubusercontent.com/assets/264508/5448165/4e64666a-84a8-11e4-886e-6799a1aa68ee.png)
Uncaught TypeError: Cannot read property 'destroy' of undefined

**Atom Version**: 0.158.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.57.0
### Steps To Reproduce
1. I opened a tab in a split editor
2. And cl

[2014-12-16 14:32] jappre opened #99 "Uncaught TypeError: Cannot read property 'remove' of undefined"
Uncaught TypeError: Cannot read property 'remove' of undefined

**Atom Version**: 0.158.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.57.0

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2014-12-16 23:50] #98 closed, assigned to nobody

[2014-12-22 11:41] afsungur opened #100 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.58.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2014-12-22 23:03] cdwilson opened #101 "Uncaught TypeError: Cannot read property 'onDidDestroy' of undefined"
This error occurs after #97 and leaves an extra pane which I can't get rid of:

![atom_extra_pane](https://cloud.githubusercontent.com/assets/14631/5532479/9c7c53be-89ec-11e4-9ffd-b77456ebf3eb.png)
### Steps to reproduce

(Steps 1&2 trigger #97 and steps 3&4 trigger this issue)
1. Packages --> AsciiDoc --> Toggle Preview
2. Right click on the preview tab and select Split Down
3. Close the tab gene

[2014-12-28 12:39] gfarrell opened #102 "Files not opening in tabs (i.e. tabs not showing up along the top)"
Atom: 0.165.0
Tabs: 0.58.0

![this screenshot](https://cloud.githubusercontent.com/assets/314331/5563839/f49047cc-8e8d-11e4-8876-afd446f1b8e7.png)

As of the latest update to Atom, double clicking a file loads the content but does not create a tab in the UI that allows me to cycle through. I know these tabs are created, because I can cycle through them with the keyboard.

If I disable and then ena

[2014-12-29 09:58] #102 closed, assigned to nobody

[2015-01-02 19:50] halleycarleton commented on #39
+1 Would love to see this implemented

[2015-01-03 13:26] persistence911 opened #103 "Uncaught TypeError: Cannot read property 'getUri' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.165.0
**System**: linux 3.13.0-37-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.58.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getUri' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-03 13:50] izuzak commented on #103
I'm guessing this is an issue in atom-development-server. Can you reproduce the issue in [safe mode](https://github.com/atom/atom/blob/master/docs/debugging.md#check-if-the-problem-shows-up-in-safe-mode)?

[2015-01-03 13:51] izuzak commented on #103
Also, can you clarify what you did to trigger the exception? Sharing as many details as possible would be helpful.

[2015-01-06 18:13] #103 closed

[2015-01-06 19:11] kevinsawicki commented on #100
@benogle any ideas why this stack trace targeted the tabs package instead of the save-session package?

Looks like `save-session` is higher up on the stack

[code]

[2015-01-06 19:13] benogle commented on #100
looking...

[2015-01-06 19:22] benogle commented on #100
One thing that might be causing this is that the save session plugin is disabled, but it's in the trace. My guess as to whats happening:

1. Atom started with save session enabled
2. Disable save session, but it doesnt really clean itself up
3. Do something that calls into save-session
4. error!

Though the trace parser looks at loaded packages, and save-session should still be loaded.

[2015-01-06 19:23] benogle commented on #100
Looks like save session monkey patches `promptToSaveItem`

[2015-01-06 19:55] #99 closed

[2015-01-06 21:35] benogle commented on #100
I think this is a fluke. Going to close this out as it comes from save-session monkey patching `Pane::promptToSaveItem`, and then being disabled. When there are multiple packages in the stack, the top one should be used. Notifications package contains tests for this case.

[2015-01-06 21:35] #100 closed

[2015-01-07 16:52] stramel opened #104 "SEGFAULT on Linux"
**OS:** Ubuntu 14.04
**Atom:** 0.167.0-8f4555b
**tabs:** 0.61.0

#### Steps to Reproduce

1. Open Atom with `--safe`
2. File > Open Folder...
3. Select a project
4. Open two files
5. Right-click a tab
6. Select 'Close All Tabs' or 'Reveal in Tree View'

Here is the crash dump from `--safe` mode: http://pastebin.com/1ndyvXRC

Seems to be issue with Atom on Linux, atom/atom#4892, atom/tree-view#310

[2015-01-08 04:40] lee-dohm commented on #104
Closing this in favor of the main issue atom/atom#4892 since they're all related.

[2015-01-08 04:40] #104 closed

[2015-01-09 15:18] afrjorge commented on #39
+1

[2015-01-10 00:58] mark-hahn opened #105 "bad css for .tab-bar:after"
I can't find it in the source code, but there is a style in `.tab-bar:after` that is drawing a wide bar using `position:fixed`.  This causes the bar to appear over other things when the tab-bar is in a different position on the screen.  I tested this with `atom --safe` and the `.tab-bar:after` is still there.

![sgsdv](https://cloud.githubusercontent.com/assets/811455/5689736/5289dc3a-9820-11e4-81

[2015-01-10 12:50] simurai commented on #105
It looks like this comes from the Atome Dark UI theme and is a dupe of https://github.com/atom/atom-dark-ui/pull/37.

[2015-01-10 12:50] #105 closed

[2015-01-10 20:03] mjrk commented on #61
+1 here, too.

[2015-01-12 18:16] jaumann commented on #39
+1

[2015-01-12 22:18] daveqr commented on #39
+1

[2015-01-14 20:08] kevinsawicki commented on #86
There is a core issue for this now and it will be fixed there, this package just uses the core `atom.tooltips` API which is where this bug is.

https://github.com/atom/atom/issues/5009

[2015-01-14 20:08] #86 closed

[2015-01-14 20:09] kevinsawicki commented on #66
There is a core issue for this now and it will be fixed there, this package just uses the core `atom.tooltips` API which is where this bug is.

https://github.com/atom/atom/issues/5009

[2015-01-14 20:09] #66 closed

[2015-01-15 11:58] LiJohnson opened #107 "Uncaught TypeError: Cannot read property 'getUri' of undefined"
Uncaught TypeError: Cannot read property 'getUri' of undefined

**Atom Version**: 0.161.0
**System**: linux 3.13.0-24-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.58.0

### Steps To Reproduce

1. ...
2. ...

### Stack Trace

[code]

/cc @atom/core

[2015-01-15 13:25] 50Wliu commented on #107
Hi, it looks like you're running a slightly outdated version of Atom.  Could you try updating to 0.172.0 and see if this still happens?  If it does, could you try running Atom in safe mode (`atom --safe`)?

[2015-01-16 12:49] LiJohnson commented on #107
:ok_hand:

[2015-01-16 19:13] bart452 commented on #39
+1

[2015-01-19 00:45] wwvuillemot opened #108 "Uncaught Error: Pane has been destroyed"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.169.0
**System**: Mac OS X 10.10.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.61.0

### Stack Trace

Uncaught Error: Pane has been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-19 01:49] 50Wliu commented on #108
Hi @wwvuillemot, can you share some steps to reproduce this?  Also, if possible, can you please update to the latest Atom version (currently 0.174.0) and see if you can still reproduce this error?

[2015-01-24 23:31] modest opened #109 "Suggestion: Hide tab bar when only 1 tab is open"
Would be a nice config option, at least.  This follows the behavior of many other tabbed Mac apps such as Safari.

![screen shot 2015-01-24 at 3 30 04 pm](https://cloud.githubusercontent.com/assets/990299/5889467/feea1cc4-a3dd-11e4-93b4-a67a9d375b62.png)
![screen shot 2015-01-24 at 3 30 24 pm](https://cloud.githubusercontent.com/assets/990299/5889468/0200318c-a3de-11e4-8535-57abf33e2ac0.png)

[2015-01-25 01:52] simurai commented on #109
@modest Are you thinking of changing this behaviour for all themes? Or just the one in your screenshot, I believe it's Atom Light UI.

The [Unity UI](https://atom.io/themes/unity-ui) theme does it like that:

![screen shot 2015-01-25 at 10 48 01 am](https://cloud.githubusercontent.com/assets/378023/5889853/a95f842c-a47f-11e4-8ad3-5eacbe5426b2.png)

And maybe more. It's probably better to leave it

[2015-01-26 21:14] cameron581 opened #110 "Uncaught Error: EACCES, permission denied '/usr/share/atom/resources/app/node_modules/welcome/docs/linux/welcome.md'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: linux 3.13.0-44-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.64.0

### Stack Trace

Uncaught Error: EACCES, permission denied '/usr/share/atom/resources/app/node_modules/welcome/docs/linux/welcome.md'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-01-26 21:44] benogle commented on #109
Closing as this is a theme related issue. Unity ui does what you would like.

[2015-01-26 21:44] #109 closed

[2015-01-26 23:36] benogle commented on #110
Looks like you just edited the welcome.md file, and tried to save it, correct?

[2015-01-27 03:53] modest commented on #109
Sorry, screenshot was misleading.  Replaced with the right before & after picture.  Unity is unrelated.

[2015-01-27 04:00] benogle commented on #109
This is unlikely to be added to core. Maybe one could create a theme that hides the tab bar when there is only one tab.

[2015-01-27 06:39] simurai commented on #109
hey, "there is a package for that™": https://atom.io/packages/one-tab

ps. had reload Atom after installing, but after it works fine

[2015-01-27 06:59] modest commented on #109
Since this is fairly standard default behavior across tabbed apps (see: TextMate, Finder, Safari, Transmit), it might be reasonable to include this in the core tabs package, at least as a setting :)  Gave it my best shot.

[2015-01-27 16:24] antares38 opened #112 "Uncaught TypeError: Cannot read property 'index' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.2.0-72-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.64.0

### Stack Trace

Uncaught TypeError: Cannot read property 'index' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-29 10:05] mesosteros opened #113 "Tabs not opening since 0.176.0"
My tabs collapse into one only. Only the settings menu shows in a different tab.
If I disable and enable the package, all the tabs show but simply opening a new one collapses them again.

[2015-01-29 11:15] verheyenkoen commented on #113
+1

[2015-01-29 17:19] lee-dohm commented on #113
Have you followed the suggestions in the [Debugging document](https://atom.io/docs/latest/debugging)? Also, could you give the following information?

* What OS and version are you running?
* Do you have the [Shadow DOM feature](http://blog.atom.io/2015/01/05/enable-shadow-dom.html) enabled?
* Do you have the [Emmet package](https://atom.io/packages/emmet) installed?
* Can you reproduce the issue

[2015-01-29 17:27] mesosteros commented on #113
Yes Lee.
OS is Windows 8.1 x64 bits, Xubuntu 14.10 and my colleague on a Mac Yosemite also has the same issue (I've checked)
The version is 0.176.0.
I have Shadow DOM enabled.
Emmet is NOT installed.
The behaviour doesn't seemed fixed on normal Atom so Atom --safe is not a surefire way of checking this (although I have yet to see one instance of it).
Thing is: I installed no packages before this s

[2015-01-29 17:42] lee-dohm commented on #113
I can't reproduce what you're seeing on Atom v0.177.0-e7b790c on Mac OS X 10.10.1:

![screen shot 2015-01-29 at 9 40 00 am](https://cloud.githubusercontent.com/assets/1038121/5962738/d440f37e-a79a-11e4-9d85-12d8f30c2615.png)

I haven't tried on v0.176.0 specifically, but I'm on v0.64.0 of the tabs package and according to this:

https://github.com/atom/atom/blob/v0.176.0/package.json#L117

that's

[2015-01-30 09:40] mesosteros commented on #113
You can close this for now I think... the behaviour magically disappeared all of a sudden... no updates no package disabling... Weird...

[2015-01-30 17:16] lee-dohm commented on #113
Ok, thanks. Let us know if it reproduces :grinning:

[2015-01-30 17:16] #113 closed

[2015-01-31 06:14] 1j01 commented on #112
https://github.com/atom/atom/issues/4891

[2015-02-03 11:58] rtuider opened #115 "Uncaught TypeError: Cannot read property 'style' of undefined"
1. Switch tab from "setting" to a "js"-tab

**Atom Version**: 0.176.0
**System**: Microsoft Windows 7 Enterprise
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.64.0

### Stack Trace

Uncaught TypeError: Cannot read property 'style' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-03 12:57] 50Wliu commented on #115
Could you please try to reproduce this in safe mode (`atom --safe`)?

[2015-02-03 19:07] JamesGould123 commented on #93
I'm pretty sure this is a "bug/feature" with most OSes, any clicks on a window make that window the focus. Are there other programs that can accomplish a similar result?

[2015-02-03 19:30] thedaniel commented on #93
Yes, many many. Chrome, Safari, etc.

[2015-02-04 10:40] rtuider commented on #115
@kevinsawicki because this was a generated exception and I simply clicked on "create issue" - like this functionality :)

[2015-02-04 10:48] rtuider commented on #115
@50Wliu error doesn't occur. I also deactivated the eslint plugin again

[2015-02-04 11:55] adcreare commented on #39
+1

[2015-02-04 17:09] benogle commented on #115
The `eslint` package is disabled. Maybe it isnt cleaning up after itself on deactivate?

@rtuider, did you disable the `eslint` package and keep working in the editor when you saw this?

[2015-02-05 08:47] iivanovicpu opened #116 "Uncaught Error: EACCES, permission denied '/etc/hosts'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.176.0
**System**: linux 3.16.0-30-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.64.0

### Stack Trace

Uncaught Error: EACCES, permission denied '/etc/hosts'

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-05 10:42] ricardograca opened #117 "Tooltips take too long to pop up"
This is probably personal opinion, but to me the tooltips that display the complete path name of a file take too long to appear.

Compared to every other tooltip I can think of in my system it takes at least twice as much for the ones on Atom tabs to show up. This can be really annoying if I have several files with the same name open at the same time (`index.js` comes to mind). They seem to be tak

[2015-02-05 12:59] 50Wliu commented on #116
@iivanovicpu please upgrade to Atom 0.175.0 or above.

[2015-02-05 13:32] rtuider commented on #115
@benogle no I disabled it after getting this errors

[2015-02-05 19:10] benogle commented on #115
Did you get the error multiple times? Looks like eslint was disabled at the time of this error, and that's why it pointed at the tabs package rather than the eslint package.

[2015-02-05 19:15] benogle commented on #116
He's on 176. Looks like we're still having issues on non-osx when it tries to save files the user doesnt have access to. At least the error message could be legit. But we really should implement the privilege escalation on windows and linux.

[2015-02-05 19:17] benogle commented on #116
My guess on steps to repro:

1. have etc/hosts open unsaved
1. Click on the `x` in the tab
1. it prompts to save, you choose yes, save
1. Fail

[2015-02-05 19:17] benogle commented on #116
This issue was moved to atom/atom#5421

[2015-02-05 19:17] #116 closed

[2015-02-05 20:21] 50Wliu commented on #116
Hmm I somehow read 0.174 by accident.

[2015-02-06 00:14] halleycarleton commented on #61
**+1** - I was surprised to find no default key binding for `close all tabs`.

[2015-02-10 08:26] simurai commented on #117
The delay is now changed from `2s` to `1s`.

I like this suggestion. Might be good to add it for all tooltips and not just for the tabs. I'll make a new issue in Core.

[2015-02-10 08:26] #117 closed

[2015-02-11 10:39] ricardograca commented on #117
Many thanks :)

I was only talking about tabs in terms of tooltips appearing immediately, but it may work for other elements as well. I never thought of that actually.

[2015-02-11 11:03] theblacklion commented on #76
@simurai Hmm seems to work fine except that my active tab is being crunched to its minimum size. Any idea to fix this?

[2015-02-11 13:53] simurai commented on #76
@theblacklion What's the theme you're using? And by "being crunched to its minimum size", is it about `40px` so you only see a few characters?

[2015-02-12 08:12] theblacklion commented on #76
@simurai "Spacegray Eighties" from the spacegray-eighties-ui package and "Base16" (Eighties, Dark) fromt he base16-syntax package. Yes, only some characters. Normally it would expand the active tab, but with this modification it rather tries to expand all other than the active tab :)

[2015-02-12 11:48] simurai commented on #76
@theblacklion Ok, for "Spacegray Eighties" this should work:

[code]

[2015-02-13 07:17] theblacklion commented on #76
@simurai Thanks - works much better :). But when switching to the last tab of the first row, it suddenly flows into the next row because of the appearing close button. I'm now using flex-basis: 10em; as a workaround. This does not happen if I just hover over the tabs. Any idea?

[2015-02-13 16:01] simurai commented on #76
Hmm.. ya, there is some expanding on the active tab. But this should keep it at the same size:

[code]

[2015-02-14 09:37] theblacklion commented on #76
@simurai Now that seems to work perfectly - thank you very much, sir :)

[2015-02-20 01:50] fungilation commented on #76
+1 as a package. Completely "native" looking on the new One UI theme

[2015-02-20 22:18] luiscarrasc0 commented on #39
+1

[2015-02-25 07:24] Platzer commented on #39
+1

[2015-02-25 16:26] Chesire commented on #39
+1

[2015-02-25 20:12] markuz-brasil commented on #39
Are you fucking kidding me.
Like this is such a early issue and no official response.

like, how hard would that be to implement

[2015-02-25 20:17] benogle commented on #39
Thanks for the comment. PRs would be accepted for such a feature.

[2015-02-27 10:14] joeyguacamole commented on #39
+1

[2015-02-27 10:19] aveiros commented on #39
+1

[2015-02-27 23:35] jy19 commented on #39
+1

[2015-03-02 12:30] ijanos commented on #108
Steps to reproduce with 0.184.0

1. start with no tabs open
2. open a markdown file
3. generate a markdown preview, this opens pane to the right
4. close the original tab, this will extend the right pane to take the whole window
5. right click on the preview tab and choose "Split Right"

[2015-03-02 13:07] 50Wliu commented on #108
Confirmed, thanks!

[2015-03-06 19:45] bcherny commented on #39
+1

[2015-03-10 17:29] davidgross commented on #39
I have been fiddling with this for the last couple days, (I really want this feature), I am not a node/coffee/javascript programmer(I am a Rails dev, I have some limited javascript experience....).  I have a couple questions for someone who knows something about how the events work for tabs, I figured out how to make it make a new window when you drag a tab out of the window(using onDragLeave).

T

[2015-03-11 09:55] joerx commented on #17
+1

[2015-03-13 14:02] manuelsalvatori commented on #39
+1

[2015-03-13 16:17] davidgross commented on #39
Update on my tweaks: I have a functioning "Open Tab in new Window" option in the tab right click menu.

This will, as the name suggests, open the tab in a new window, _however_ it won't copy your un-saved changes, but it does prompt you to save before opening the file in a new window.

[2015-03-14 00:03] johnbacon commented on #17
+1

[2015-03-16 00:21] fpcorso opened #122 "Uncaught Error: This TextEditor has been destroyed"
I am not too entirely sure what I did to cause this but I had switched git branches for the project I was working on which caused the files I had open to be older versions. I went to close all tabs but a message popped up asking to save, don't save, or cancel. I had 9 files open and quickly clicked "Don't Save" through all of them which resulted in 2 of these errors below. I have been unable to re

[2015-03-16 09:35] KeitIG opened #123 "Switch tabs onMouseDown"
Hello,

I was surprised to not find any issue on this. What about switch tabs onMouseDown() instead of Click() ? It has all benefits: you can see the tab sooner, the UI seems more reactive...

ref: https://github.com/atom/atom/issues/5174

As as-cii mentioned, it is not really "pure performance improvement". Just a (working) trick.

I guess I could do a PR myself, but what do you think about that

[2015-03-17 22:36] swinbank commented on #123
I do agree that perceived responsiveness is important. I tinkered with this about a year ago, but I vaguely remember it being slightly more trivial than I had bargained for, since it was affecting the ability to drag tabs around.

[2015-03-18 07:58] KeitIG commented on #123
@swinbank take a look at my PR. I've fixed it ;)

[2015-03-18 12:23] WrekitRalf commented on #39
+1

@davidgross Are you still working on this?

[2015-03-18 13:45] davidgross commented on #39
@WrekitRalf I am still working on this, but, I have not had time to work on it in the last couple days...

[2015-03-18 14:38] swinbank commented on #123
Great!

[2015-03-18 14:49] 50Wliu commented on #123
This has been merged so closing.

[2015-03-18 14:49] #123 closed

[2015-03-21 00:41] jarrar opened #125 "Uncaught Error: Cannot find module 'dialog'Error: Cannot find module 'dialog' at Function.Module._resolveFilename (module.js:351:15) at Function.Module._load (module.js:293:25) at Module.require (module.js:380:17) at EventEmitter.<anonymous> (/Applications/Atom.app/Contents/Resources/atom/browser/lib/rpc-server.js:128:79) at EventEmitter.emit (events.js:119:17) at EventEmitter.<anonymous> (/Applications/Atom.app/Contents/Resources/atom/browser/api/lib/web-contents.js:99:23) at EventEmitter.emit (events.js:119:17)"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.186.0
**System**: Mac OS X 10.9.5
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.67.0

### Stack Trace

Uncaught Error: Cannot find module 'dialog'
Error: Cannot find module 'dialog'
    at Function.Module._resolveFilename (module.js:351:15)
    at Function.Module._load (module.js:293:25)
    at Module.require

[2015-03-21 01:53] 50Wliu commented on #125
Duplicate of atom/tree-view#399, please subscribe there for updates.

[2015-03-21 01:53] #125 closed

[2015-03-25 17:50] baffles commented on #17
+1 from me as well.

Any updates on this front? This is pretty much my only complaint about Atom at the moment, and it's a fairly annoying/jolting issue.

[2015-03-26 17:12] ghempton commented on #17
Definitely a needed feature. Tab history has some quirks.

[2015-03-28 19:57] oilee80 opened #126 "Uncaught Error: Cannot find module 'dialog'Error: Cannot find module 'dialog' at Function.Module._resolveFilename (module.js:344:15) at Function.Module._load (module.js:286:25) at Module.require (module.js:373:17) at EventEmitter.<anonymous> (/Applications/Atom.app/Contents/Resources/atom/browser/lib/rpc-server.js:128:79) at EventEmitter.emit (events.js:110:17) at EventEmitter.<anonymous> (/Applications/Atom.app/Contents/Resources/atom/browser/api/lib/web-contents.js:99:23) at EventEmitter.emit (events.js:110:17)"
Tried to close a tab that I'd just created, dialog was probably to ask about saving the changes as I hadn't done that yet.

**Atom Version**: 0.176.0
**System**: Mac OS X 10.10.2
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.64.0

### Stack Trace

Uncaught Error: Cannot find module 'dialog'
Error: Cannot find module 'dialog'
    at Function.Module._resolveFilename (module.js:34

[2015-03-28 20:31] 50Wliu commented on #126
Duplicate of atom/tree-view#399, please subscribe there for updates.

[2015-03-28 20:31] #126 closed

[2015-04-01 22:52] erickmerchant opened #127 "Unexpected token ."
Uncaught Error: /Applications/Atom.app/Contents/Resources/atom.asar/browser/api/lib/dialog.js:1(function (exports, require, module, __filename, __dirname) { .exports.DEFAULT                                                              ^Unexpected token ./Applications/Atom.app/Contents/Resources/atom.asar/browser/api/lib/dialog.js:1(function (exports, require, module, __filename, __dirname) { .expo

[2015-04-03 15:29] m451 commented on #39
+1

[2015-04-03 22:26] davelowensohn commented on #39
+[1,1]

[2015-04-05 19:30] jaywink commented on #17
:+1: for this, was surprised to see this doesn't already work :(

[2015-04-05 21:51] thomasthorsen commented on #17
This is definitely needed, the default behaviour is not useful

[2015-04-07 01:39] ybounya opened #128 "Error thrown when trying to close an untitled tab [Ubuntu 14.04]"
[Enter steps to reproduce below:]

1. Just trying to close a tab
2. Seem to happen everytime after upgrade
=> actually, I can close untitled tab if they are empty

**Atom Version**: 0.188.0
**System**: linux 3.13.0-46-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.67.0

### Stack Trace

Uncaught Error: /opt/atom/resources/atom.asar/browser/api/lib/dialog.js:1
(function (

[2015-04-08 06:27] ybounya commented on #128
Duplicate of #6276

[2015-04-08 14:00] izuzak opened #129 "Tab resize should be delayed"
_From @karai17 on April 7, 2015 17:2_

If I have a lot of tabs open and I want to close several of them, it can be a little annoying to have to continue adjusting the mouse when I am trying to close tabs as they resize. Chrome does a good job at this: When you close a tab, the other tabs shift to fill the space but they do not resize to fill space for a second or two, giving you the ability to clo

[2015-04-08 14:00] izuzak commented on #129
_From @mnquintana on April 7, 2015 23:41_

:+1: I really like this idea!

[2015-04-08 14:00] izuzak commented on #129
_From @philipgiuliani on April 8, 2015 11:19_

Chrome isn't delaying the tab-resize, they are doing it as soon as you remove the mouse from the tabbar. I also would like to see this nice feature :)

For now, just use `CMD + W`.

**Update**
I just looked over this, and the main problem is, that the tab-resize is handled with CSS (flex), so its currently not easliy possible to implement this feature

[2015-04-08 14:09] karai17 commented on #129
Would it be possible to move the reflow styles to only activate on mouse leave?

[2015-04-08 18:53] skogshjort opened #130 "Empty dblclick should always create a new file"
Double clicking an empty part of the tabs area should always create a new tab with an empty file. Currently this behaviour only works when one or more tabs are open, not when no tabs are active.

[2015-04-08 18:59] skogshjort opened #131 "Save file by dblclicking tab"
It would be wonderful to have the functionality to save the file of a tab by double clicking it.

I tested it by hacking it into the tabs package, and it's not that hard. As the tabs' appearance reflect changes to their files, interacting with them feels natural, and the difference in appearance worked as an indicator for the saving action imo. Disappeared with the next update though, obviously ;)

[2015-04-08 19:40] izuzak commented on #128
Closing in favor of https://github.com/atom/atom/issues/6276. Can you please follow that issue for updates and let us know if when it's fixed you can still reproduce this problem? Thanks for the report.

[2015-04-08 19:40] #128 closed

[2015-04-08 22:19] ybounya commented on #128
fixed in 0.190.0

[2015-04-10 17:44] philipgiuliani commented on #129
@karai17 no i dont think this is possible. My idea would be to get the current tab-width with javascript on a mouseover and set it as a style. When the mouse leaves it should be removed again and the tabs will get bigger than. Maybe i could try that out :)

[2015-04-10 18:36] karai17 commented on #129
That sounds like it could work!
On Apr 10, 2015 2:44 PM, "Philip Giuliani" <notifications@github.com> wrote:

[2015-04-11 19:25] philipgiuliani commented on #129
I just tried it out and was not very successful so far :/ The tabbar has `display: flex`, so its not possible to set a fixed-width to the tabs. I did a workaround to set the tab-width and remove display: flex from the tab-bar which worked, but not perfectly. The last tab disappears for some reason but i can look into it.

My current problem is that the active tab has another with than the current

[2015-04-11 19:39] karai17 commented on #129
Any idea on how google manages it in chrome? If atom runs on top of WebKit
or blink, could we not snag chrome's tab system? I know of a project,
clover, that embeds windows explorer inside a chrome framework which is
quite novel and works mostly well.
On Apr 11, 2015 4:25 PM, "Philip Giuliani" <notifications@github.com> wrote:

[2015-04-11 19:40] philipgiuliani commented on #129
That would mean that the tabbar is implemented nativly and has not the flexibility anymore that atom has (styling through CSS for example). If the active-tab would have the same width as the other tabs, it should work :)

[2015-04-11 19:44] karai17 commented on #129
While I do admire atom's attempt to be flexible, I feel like not every
single aspect needs to be quite so flexible. Building a chrome-like tab
system should be enough for most people to be happy. The few people who
just really want to customize tabs might just have to accept that.
On Apr 11, 2015 4:40 PM, "Philip Giuliani" <notifications@github.com> wrote:

[2015-04-11 19:46] philipgiuliani commented on #129
Chrome-like tab system should be no problem, also with this flexibility :)

[2015-04-11 19:48] karai17 commented on #129
Perfect, I look forward to future updates!
On Apr 11, 2015 4:47 PM, "Philip Giuliani" <notifications@github.com> wrote:

[2015-04-13 12:09] sftd commented on #39
+1

[2015-04-17 18:13] davidgross commented on #39
@benogle do you want a pull request from my work? It simply creates a right-click button to open a tab in a new window, doesn't solve this thread, but, maybe creates a use-able work-around.

[2015-04-20 15:10] KeitIG opened #132 "Smooth tab animations"
Hey guys,

I miss smooth animations (like Chrome/Sublime...) for closing/moving tabs.

I didn't take a serious look at atom/tabs and how animations could work (if it even can ?), but I think I can handle that.

[2015-04-21 13:06] simurai commented on #132
I think it could, but the implementation would need some changes. Currently it uses flexbox. It can be animated, but I think performance is not that great. Another issue is that when closing a tab, the tab gets removed immediately from the DOM. To have it animated, the removing would need to be delayed.

What might work:

- Instead of using flexbox to do all the positioning, change to `position: a

[2015-04-22 00:53] vilic commented on #49
Or maybe we can narrow the padding, and use a gentle gradient instead of ellipsis for taking better use of the space. Especially when there's many tabs.

[2015-04-22 08:17] KeitIG commented on #132
Thanks for these advices @simurai, I'll be working on that tonight.

[2015-04-22 14:03] simurai commented on #132
Good to hear.

Something else that came to mind. It might be tricky with all the different themes that can have different styling. Or if you change the width of the tabs in `styles.less`, the positioning would need to get updated too. Not sure if there is a good way to detect changes like that. I guess that's the nice thing about flexbox that it's all automatic.

[2015-04-23 01:40] thedaniel commented on #131
I like the idea of interacting directly with a tab but this seems too easy to do by accident for a potentially destructive action.

[2015-04-23 06:21] thomasjo commented on #131
I'm :-1: on this one.

First of all this behavior is completely unexpected—I'm not aware of any mainstream editor that does this. Of course that shouldn't really prevent us from doing it in Atom, but that brings me to my second issue; I don't understand the reason to add this behavior. Why would I double click a tab, instead of pressing <kbd>cmd</kbd> + <kbd>s</kbd> or <kbd>ctrl</kbd> + <kbd>s</kb

[2015-04-23 08:56] mmk-jay commented on #39
+1

[2015-04-23 11:46] mnquintana commented on #131
This isn't true out of the box though – this is only true if you have something like [git-tab-status](https://atom.io/packages/git-tab-status) installed. Otherwise their appearance doesn't reflect any changes made to the files.

I'd also be :-1: for this - I think doing *something* on double click might be nice, but I'm not convinced it should be saving. This might up being even more confusing onc

[2015-04-26 13:37] skogshjort commented on #131
Sorry for the vague explanation. I referred to the close button being replaced by a blue circle in both the One and Atom themes by default. It clearly signals *this tab is unsaved*.

![tab_unsaved](https://cloud.githubusercontent.com/assets/3176525/7337313/fdec0932-ec25-11e4-8992-e1da04a6ef6e.jpg)

Just because keyboard shortcuts exist doesn't mean mouse navigation is unnecessary. Say a person use

[2015-04-26 13:58] thomasjo commented on #131
I'm for adding *Save* to the tab's context menu. That would solve the issue at hand, and it's a minimal change with much less problems than the proposed double-clicking scheme. For instance what if the user double-clicks the tab for a non-editor pane item (e.g. Markdown Preview)? Should we simply do nothing? If we go the context menu route, we would simply not list the *Save* option for non-file p

[2015-04-26 15:58] skogshjort commented on #131
@thomasjo But isn't the same is true for current functionality? What happens when pressing <kbd>cmd</kbd> + <kbd>S</kbd>  or <kbd>ctrl</kbd> + <kbd>S</kbd> for a non-editor pane item? Nothing?

[2015-04-26 16:19] roseperrone commented on #39
+1

[2015-04-26 16:38] mnquintana commented on #39
@davidgross A PR for that would be great! It would certainly be a good stopgap until this gets implemented.

[2015-04-26 17:38] thomasjo commented on #131
@skogshjort Definitely, and that's a good point, although the difference is that it's
  1. existing behavior,
  2. both standard, and a discoverable shortcut/keybind via the *Edit* menu,
  3. explicit in such a way that it's unlikely to happen accidentally.

The proposed enhancement is neither discoverable outside of documentation (or digging into the configuration to find the (potentially impleme

[2015-04-26 20:10] skogshjort commented on #131
I see. If the ability to configure actions for double click can't make it into the tabs package, I guess I'll have to just make my own little package instead.

I understand why that is a bad thing, but since "Tab Scrolling" seemed to be worth the effort, I figured maybe double click functions would too. :)

[2015-04-26 20:18] thomasjo commented on #131
I'm sure you'll find people willing to help out with that—I don't doubt that some users will find the proposed feature useful, I'm mostly concerned with adding something that the majority of users might not even discovers exists.

Regardless, keep the suggestions rolling even though some of them might get a little bit of pushback :wink:

[2015-04-26 20:51] skogshjort commented on #131
I will! :)

[2015-04-26 20:51] #131 closed

[2015-04-27 14:47] davidgross commented on #39
@mnquintana pull request here: https://github.com/atom/tabs/pull/134

[2015-04-28 20:50] kevinsawicki commented on #127
I believe this is a duplicate of https://github.com/atom/atom/issues/6276 please subscribe to that issue for updates.

[2015-04-28 20:50] #127 closed

[2015-04-30 18:03] kevinsawicki commented on #110
I believe this was fixed by https://github.com/atom/atom/pull/5424 and should no longer be an issue in the latest Atom version, 0.194

[2015-04-30 18:03] #110 closed

[2015-05-03 18:49] kdemarest commented on #17
Yes, absolutely. It simply works wrong as-is. Perhaps there is a package to fix this clearly wrong behavior?

[2015-05-03 23:34] 50Wliu commented on #17
If this is to be "fixed", I would like it to be a config option please :).

[2015-05-06 23:32] Sheridan-Tech commented on #39
+1

[2015-05-08 10:33] Eschon opened #135 "Editor not focused when switching tabs"
When I switch tabs the editor doesn't get focus. According to #30 this should have been fixed already but it doesn't work for me.

OS: OS X 10.10.3
Atom Version: 0.198.0
Tabs Version: 0.68.0

[2015-05-08 11:48] mnquintana commented on #135
Duplicate of https://github.com/atom/atom/issues/6662 - please subscribe there for updates.

[2015-05-08 11:48] #135 closed

[2015-05-11 08:23] izuzak opened #136 "Tab Bar: Tabs are hidden if too many tabs opened."
_From @v3ss0n on May 11, 2015 8:17_

atom 198 behanvior make tabs more readable but when too many tabs are opened , new ones are hidden. Previously atleast an icon width is still shown.

I propose a solution to add a Next/Back icon at the side of tab strip if too many tabs are opened like in firefox , with additional tablist button.

![](https://support.cdn.mozilla.net/media/uploads/images/2012-12

[2015-05-11 08:24] izuzak commented on #136
@v3ss0n When there are lots of tabs opened, the tab bar becomes scrollable so that you can scroll and reach all tabs. Is that what you're referring to as "hidden"? If so, that's expected behavior. Are you suggesting that an indicator is added so that users know that the tab bar can be scrolled to see  more tabs?

[2015-05-11 08:30] v3ss0n commented on #136
There is no indicator that tabs are hidden or not , An indicator would be nice, like that arrow beside tab in  firefox.

[2015-05-11 08:33] izuzak commented on #136
Thanks for clarifying. I've modified the issue title to reflect your suggestion, because just the fact that the tabs are hidden is expected behavior.

[2015-05-11 08:39] v3ss0n commented on #136
Thanks , the problem right now is when too many buffers are opened , and even if the opened buffer is selected , it is not actually selected/Activated in tab bar. Tabs are not actually scrolled , only buffer is scrolled. Is that intended ?

[2015-05-11 08:46] v3ss0n commented on #136
To clearify this:
![hiddentab](https://cloud.githubusercontent.com/assets/419606/7561216/4b660156-f7f0-11e4-9076-8fe7f3169cea.png)

on the right pane ,tab named ui-variables.less is selected , but it is hidden , you can see this by none of the tab is highlighted on the screenshot.
tested at atom 0.199.0-https://github.com/atom/atom/commit/f1f8c3d0a72de7d20bcde4fd145261c34d3e7462

[2015-05-11 08:50] izuzak commented on #136
@v3ss0n It's intended in the sense that such functionality is not implemented currently, I believe, and not seeing the tab bar scroll automatically doesn't mean that there's a bug in some code.

Also, that sounds like a different request/suggestion than then one described in this issue, so I'd recommend you open a new issue on this package's issue tracker and describe it clearly. Does that sound g

[2015-05-11 08:57] v3ss0n commented on #136
Oh , i thought it was implemented already when you said this:

It was not visually scrolling ( it is scrolling in the sense of buffer, but not visually scrolled to that portion of then).

But them i tried moving a tab to the hidden part of the tab bar and Voila! it acutally scrolled visually too, so i thought its already implemented and a bug.

Also that is the reaspon i commented here . I underst

[2015-05-11 09:00] izuzak commented on #136
The tab bar is _scrollable_, but doesn't scroll _automatically_ when you open a file for which the tab is hidden -- you need to scroll the tab bar yourself. Does that clarify things?

[2015-05-11 09:16] v3ss0n commented on #136
Even if i scrolled (using mousewhell on top tab bar) , only buffer is scrolled , not the tabstrip .

I am making this confusing , i will make a new issue for this case.

For this issue  #136 , it would be nice if :
- Indicator for hidden tabs
- When new files are opened and hidden , automatically scroll to them

[2015-05-11 09:19] v3ss0n opened #137 "Mouse wheel scrolling on tab bar does not scroll (visually)"
Expected Behavior:

- scroll the tab strip visually

Right now:

- When hidden , Only buffers are switched , tabs are not scrolled.

RESOLVED, to do horizontal scroll shift + mousewheel , thanks @izuzak .

[2015-05-11 09:19] v3ss0n commented on #137
Also what you guys use to make animated screencaps

[2015-05-11 09:26] izuzak commented on #136
Scrolling the tab bar works just fine for me, but I'm not using a mouse -- I'm using a trackpad. Will try using a mouse later.

I'd suggest that we keep this issue focused on the indicator, not on the auto-scroll behavior. For the auto-scroll behavior -- please open a new issue.

[2015-05-11 09:27] v3ss0n commented on #136
Ok i will open auto scroll behavior as new issue too.

[2015-05-11 09:28] izuzak commented on #137
I use http://www.cockos.com/licecap/.

Also, can you please keep issues focused on one problem or one feature request? Mixing several problems and feature requests into one issue makes it hard to understand what you want and track problems. For example, you could keep this issue focused on the request for the tab bar to auto scroll and open a new issue to report a problem with using the mouse to m

[2015-05-11 09:28] v3ss0n opened #138 "Option for auto-scroll when hidden."
Neeed an option for this:
- When tabs are hidden due to too many files  , automatically scroll to the latest , newly opened files.

[2015-05-11 10:00] v3ss0n commented on #137
Thanks alot, not sure licecap works for linux , looking around.

Sounds good and i am following that.

#138 is for auto-scroll , this one is not behaving as intended.
while looking around , a comment on one-dark-ui Repo have a screencap with expected behavior for this issue :

![](https://cloud.githubusercontent.com/assets/378023/7432018/2032ddf8-f05f-11e4-8292-74cb341544bf.gif)

I think i have to

[2015-05-11 10:03] v3ss0n commented on #137
Edited so we can focus more.

[2015-05-11 11:32] izuzak commented on #137
@v3ss0n So, I just tried this with a mouse with a scroll wheel and it works for me.

The scroll wheel by default scrolls vertically, but what you need is horizontal scrolling (because the tab bar scrolls that way). The way I do that is that I press `shift` and while holding shift scroll the mouse wheel -- that triggers horizontal scrolling. Basically, you do the same thing you would do to scroll a

[2015-05-11 13:49] v3ss0n commented on #137
Thanks a lot! now i am able to do it. I was forgetting shift + mouse wheel for many years. I think i only used it back in the days of windows LOL .

[2015-05-11 13:53] izuzak commented on #137
Happy to hear that helps. I'm going to close this now then :smile:

[2015-05-12 19:56] vickytoria082 commented on #39
Please implement this so I can stop using sublime +1 :+1:

[2015-05-13 08:45] v3ss0n opened #139 "Shift + ScrollWheel should only scroll the tab-bar , should not select (switch) tabs."
Currently , it also switches the tabs .

[2015-05-13 15:16] lee-dohm commented on #139
Is this on a particular platform? I don't see the behavior you're mentioning on OS X.

[2015-05-13 15:19] v3ss0n commented on #139
On linux , KDE

[2015-05-13 15:21] izuzak commented on #139
@v3ss0n You can turn that behavior off in the settings of the tabs package:

![screen shot 2015-05-13 at 17 20 12](https://cloud.githubusercontent.com/assets/38924/7614010/5d27ad72-f994-11e4-8f8f-08186338ebe9.png)

Atom > Settings > Packages > Tabs > Tab Scrolling

[2015-05-13 15:31] v3ss0n commented on #139
This totally disable tab switching on scroll wheel.
But Thanks ! You saved my day , again! I can live without it.

[2015-05-13 16:54] Josh-Dykstra commented on #17
+1

[2015-05-13 17:07] izuzak commented on #122
Thanks for reporting this, @fpcorso. I've been trying to reproduce this as well but wasn't able to.

@nathansobo do you maybe see something in the stack trace which might indicate a problem? I see that "Close All Tabs" was called (which [destroys all tabs](https://github.com/atom/tabs/blob/9c6c04e61d0fcfa8df80800a8ed48d91b8306984/lib/tab-bar-view.coffee#L165) and text editors, I'm guessing) and so

[2015-05-13 17:22] nathansobo commented on #122
@izuzak From the stack trace here is what I can infer:

* The "Close All Tabs" command was run from the context menu after right clicking on a tab.
* There was a modified file that was prompted to be saved.
* *Somehow* the mouse up event was triggered on the text editor component after the confirmation dialog. It was at this moment that the editor was destroyed.

Perhaps we could guard the mouse u

[2015-05-14 04:22] xeron opened #140 "Click on tab steals focus from editor"
Atom: 0.198.0
OSX: 10.10.3

Editor looses focus after clicking on tab so I'm not able to type anymore and required to press Tab key or to click inside editor area.

[2015-05-14 10:20] mnquintana commented on #140
Thanks for the report! This looks like a duplicate of https://github.com/atom/atom/issues/6662 – please subscribe there for updates.

[2015-05-14 10:20] #140 closed

[2015-05-14 13:03] blachniet commented on #17
:+1:  - a config option to change this behavior would be great.

[2015-05-15 18:21] shawmanz32na commented on #39
+1

[2015-05-15 18:45] shawmanz32na opened #141 "Tabs from other windows cannot be dropped when there are no existing tabs in the window"
I often use atom across two screens by having two windows open, each with a few tabs.
![twoatomwindowsopen](https://cloud.githubusercontent.com/assets/5596570/7659204/20ef6108-faf5-11e4-978d-b862c02971e2.png)

Sometimes these tabs need to get moved between windows, which can currently be done by dragging-and-dropping a tab into the other window
![tabdraggedtootherwindow](https://cloud.githubuserco

[2015-05-16 12:17] filsmick commented on #39
+1

[2015-05-16 21:00] bobrocke commented on #39
+1

[2015-05-17 05:28] grizzilus opened #142 "Use git status colors in tab titles"
This is a feature request to match the color of the titles of tabs to those in the tree view based on the git status of the files. There is currently a package for this (`git-tab-status`), but I think it would be nice to have on the core tabs package to match the functionality of the `tree-view` package. (Also, I don't think `git-tab-status` is compatible with all themes. There was a point where a

[2015-05-17 09:45] mnquintana commented on #142
:+1: I'm definitely on board with this – I've wanted this for awhile now.

[2015-05-17 10:27] jerone commented on #139
I still think that when one <kbd>Shift</kbd> + Scroll (with many tabs open) and the option `Tab Scrolling` is enabled, tab scrolling shouldn't happen at the same time as overflow scrolling is happening. Now both tabs are switched and the tab-bar is scrolled, confusing users.

Windows 7 64-bits
Atom 0.199.0

[2015-05-17 11:01] v3ss0n commented on #139
Disabling tab scrolling help a bit , but i also do consider while enabling  shift+ tab scrolling it should not Overflow Scroll and tab switch at the same time.

@izuzak  Let us know what do you think?

[2015-05-17 12:44] #29 closed

[2015-05-18 04:10] redaced opened #143 "Uncaught Error: Unable to watch path"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.199.0
**System**: linux 4.0.0-040000-generic
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.68.0

### Stack Trace

Uncaught Error: Unable to watch path

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-18 06:34] izuzak commented on #139
I think that makes sense. In my previous comment I just wanted to point out you can disable that feature completely if it's causing problems, not that you need to close the issue or that your request doesn't make sense.

[2015-05-18 11:27] v3ss0n commented on #139
Thanks . i understand , don't worry.

[2015-05-20 11:23] glockjt commented on #39
+1

[2015-05-24 11:35] jerone commented on #130
The issue is that when there are no tabs (read; there's no texteditor), [background-tips](https://github.com/atom/background-tips) will appear. Aldo in DOM they are below tab-bar, the position is above the tab-bar. Not allowing events to go through.

This could be solved in two ways:

1. Move the tab-bar above the background-tips. But this might conflict with themes.
2. Add CSS property [`pointer-

[2015-05-25 15:30] warpdesign commented on #136
@izuzak: is the scrolling supposed to work on current build ? When I have too many tabs, if I move my mouse of the tabs area and use the mousewheel, nothing happens. So the only way to see hidden tabs for me is to enlarge the window/pane.

[2015-05-25 15:58] warpdesign commented on #136
I think an indicator should be added that shows when/if there are hidden tabs.

When scrolling a webpage, you usually see the scrollbar which indicates you may scroll. Plus if you don't know shift should be used, you may grab the scroll bar.

If there is no scrollbar, there has to be some hint (an arrow ?) that indicates there are more content, and how to access it. The problem is that right now,

[2015-05-26 13:15] izuzak commented on #143
Thanks for the report, @redaced -- check out https://github.com/atom/atom/issues/2082. If that doesn't help, then check out some of the other [open issues related to this](https://github.com/atom/atom/search?q=Unable+to+watch+path&type=Issues&utf8=%E2%9C%93).

[2015-05-26 13:15] #143 closed

[2015-05-26 15:17] redaced commented on #143
thanks @izuzak

[2015-05-26 16:07] #130 closed

[2015-05-27 14:45] izuzak commented on #141
Strange indeed .. I was able to reproduce this on Ubuntu, but not on Windows or OSX.

[2015-05-27 16:57] shawmanz32na commented on #141
Just for the sake of version info, since I didn't put it in the issue description, I'm running Windows 8.1, and just reproduced using atom version 0.201.0.

[2015-05-27 17:59] #139 closed

[2015-05-27 18:18] v3ss0n commented on #139
:+1:

[2015-05-27 18:24] cganterh commented on #39
All those "+1" are very annoying, but sincerely: +1!
The right click PR is enough for me ;).

[2015-05-28 17:33] jdfreder opened #148 "Tabs cannot be dragged"
Hi all,

I cannot drag tabs at all, even within the Atom window to re-arrange them.

I'm using a fresh install of
Atom 0.204.0
Linux Mint 17 Qiana (based on Ubuntu 14.04, Trusty Tahr)

[2015-05-28 18:01] jdfreder commented on #148
Closing, the problem is more general.

[2015-05-28 18:01] #148 closed

[2015-05-31 21:12] RamanvProjects opened #151 "Uncaught TypeError: Cannot read property 'indexOf' of null"
1. Use split pane
2. Open tabs in second pane
3. Close out of tabs

**Atom Version**: 0.204.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.69.0

### Stack Trace

Uncaught TypeError: Cannot read property 'indexOf' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-31 22:08] acontreras89 commented on #142
Just created #152 to add this functionality.

[2015-06-01 10:45] Sk1Zy commented on #39
+1

[2015-06-01 11:18] mnquintana commented on #39
Thanks for the feedback everyone! Part of this is being implemented in https://github.com/atom/tabs/pull/134. To keep this issue from getting too noisy I'm going to lock it for now.

[2015-06-01 18:36] izuzak commented on #151
@RamanvProjects I'm having trouble reproducing this. Can you reproduce this in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? If so, can you record a GIF which demonstrates what you're doing -- I might be missing something.

[2015-06-02 09:06] jerone commented on #136
I like the idea of a gutter shadow, just like [gutter-shadow](https://atom.io/packages/gutter-shadow) does for the editor and [this PR](https://github.com/suda/tool-bar/pull/61) is going to add for the [tool-bar](https://github.com/suda/tool-bar/).

[2015-06-02 10:13] v3ss0n commented on #136
Thats very interesting , idea jerone.

[2015-06-03 00:24] 50Wliu opened #154 "Active tab being set as a preview tab on window reload"
Steps to reproduce:
1. Open up Atom and enable the new Preview tabs option
2. :open_file_folder: a few files and make sure a tab is active and not a preview tab
3. Reload the Atom window (or even close it, then re-open)
4. Notice that the tab that was active is now a preview tab

/cc @carlosingles @kevinsawicki

[2015-06-03 01:45] #154 closed

[2015-06-03 02:39] lee-dohm opened #156 ""Use preview tabs" says tabs will stay open if double-clicked, but they don't"
Using Atom v0.206.0-4941229 on Mac OS X 10.10.3.

![screen shot 2015-06-02 at 7 38 29 pm](https://cloud.githubusercontent.com/assets/1038121/7951649/0ca54bf4-095f-11e5-9aa6-84c1474b35bd.png)

### Repro Steps

1. Open Atom
1. Open Settings View
1. Navigate to Tabs package settings
1. Ensure "Use Preview Tabs" is checked
1. Close Settings View
1. Double-click any file in Tree View

**Expected:** Tab

[2015-06-03 02:41] lee-dohm commented on #156
I figured it out while trying a few more things. If you double-click the tab itself (not the file in the Tree View), it becomes permanent. So ... perhaps not a bug? I still think this will be a common misconception.

[2015-06-03 02:43] mnquintana commented on #156
This only works currently if the tab itself is double-clicked, but not if the filename is double-clicked from the tree-view. I think we'd have to tweak the behavior of clicking on files in the tree-view a bit. Currently, single-clicking opens a file but keeps focus on the tree-view, and double-clicking focuses the editor; we'd have to change it so that single-clicking opens a preview tab and focus

[2015-06-03 02:43] mnquintana commented on #156
FWIW we probably should add this enhancement because it's how the feature works in Sublime and it would feel much more intuitive, I think.

[2015-06-03 02:51] mnquintana opened #157 "Preview Tabs only work with editors"
**Expected:** Opening a file that doesn't open an editor (e.g. an image) will open a preview tab.
**Actual:** Opening a file that doesn't open an editor (e.g. an image) opens a regular tab.

This is because of this line: https://github.com/atom/tabs/blob/master/lib/tab-view.coffee#L8

[2015-06-03 03:20] lee-dohm commented on #156
The reason why single-clicking does not focus the editor is so that you can click a file in the Tree View and press <kbd>Backspace</kbd> to delete it.

[2015-06-03 03:30] mnquintana commented on #156
Ah alright then, so updated:

### Current behavior

- Single-clicking opens a file but keeps focus on the tree-view
- Double-clicking focuses the editor

### Proposed behavior

- Single-clicking opens a preview tab but keeps focus on the tree-view
- Double-clicking opens the file as a regular tab and focuses the editor

Does that seem reasonable?

[2015-06-03 03:36] lee-dohm commented on #156
Yes, it does :grinning:

[2015-06-03 12:11] #157 closed

[2015-06-03 12:56] mnquintana commented on #156
This is a bit trickier than I thought at first – I think tabs will have to provide a service for tree-view to consume in order for tree-view to be aware of Preview Tabs.

[2015-06-04 09:41] kobestarr commented on #129
I just spent ages seeing if this would work. Sounds like a great idea!

[2015-06-04 10:09] paulpflug opened #159 "Last active tab is not saved, when parent tab is dragged to another pane"
On Mint 17.1 atom 0.205
I'm working 98% of my time with two panes.
Say I have 3 tabs opened in one and another in the other pane:
`[1] 2 3 | [4]`
The one in brackets are focused.
 I want to have 1 and 2 opened simultaneously, so I drag 2 to the other pane.
What I expect
`[1] 3 | [2] 4`
What I get
`1 [3] | [2] 4`
(with 4 tabs this doesn't matter, but with 10 it is very annoying, as you have to sear

[2015-06-05 03:28] adambuczynski opened #160 "Tab of deleted file should be closed"
When you delete a file, if it was open in a tab I think the tab should be closed.

What happens now, is that after deleting a file from within tree view, the tab remains open with the file being in trash. Then when you want to close the window, you get a confirmation screen asking you if you want to save the file or not. This is pretty annoying and seems redundant. Deleting a file already comes wi

[2015-06-05 04:21] flynfish commented on #160
agreed, I also run into this a lot

[2015-06-05 10:40] acontreras89 commented on #156
@mnquintana , @lee-dohm thanks for the effort!
looking forward to having this enhancement

[2015-06-05 10:45] acontreras89 opened #161 "Tabs become temporary when dragged to another pane"
When a tab is dragged from one pane to another, it's added as a temporary tab regardless of its original state.

Steps to reproduce:
* Select a file in tree-view
* Double click the tab to remove it's preview status
* Drag the tab to another pane

[2015-06-05 11:04] iamstarkov opened #162 "tabs disappeared"
my tabs disappeared after last release. I think It is because of manipulations with sublime-tabs plugin and preview-tabs option and probably relates to atom/settings-view#527. Here is my [`apm ls`](https://gist.github.com/iamstarkov/4a4b7c4d519dd1d75f2a) log. I’m not sure what to provide extra, so ask me anything you need to debug

[2015-06-05 11:23] iamstarkov commented on #162
I found that tabs was disabled in new atom version.

[2015-06-05 11:23] iamstarkov commented on #162
but I don’t know how it happens

[2015-06-05 11:23] batjko commented on #162
When you say they 'disappeared', what were you doing when that happened?

Are you aware that the `Use Preview Tabs` option, if enabled, will re-use tabs if the content hasn't changed:
![image](https://cloud.githubusercontent.com/assets/7287076/8005047/96551d78-0b7d-11e5-8a8f-373665aece78.png)

Have you tried running `atom --safe`?

[2015-06-05 11:25] iamstarkov commented on #162
nothing, I just let atom update itself and restart itself. After restart it have been opened wo/ tabs

I tried, but cannot find this option.

Tried, just now. it didn’t help. problem is in tabs package disabled by default

[2015-06-05 11:28] batjko commented on #162
It isn't disabled by default, though. Unless you disabled it at some point?

You can get at the tabs package's settings from the list of packages:
![image](https://cloud.githubusercontent.com/assets/7287076/8005114/57dbe4c2-0b7e-11e5-9b26-d619fb2515a0.png)

![image](https://cloud.githubusercontent.com/assets/7287076/8005123/63c6397c-0b7e-11e5-9132-5a3431931dba.png)

[2015-06-05 11:30] iamstarkov commented on #162
nope, I just updated atom and these two packages gone disabled

[2015-06-05 11:32] batjko commented on #162
Weird. How old was your previous atom version? Did you update all your packages before upgrading atom?

[2015-06-05 11:33] iamstarkov commented on #162
to be honest it van be happen with _tabs_ package, while I searching for preview tabs option, but it cannot be happen to _tree-view_, because I didn’t touch it in my life, so it probably the same error for both packages

[2015-06-05 11:36] iamstarkov commented on #162
Yep

Previous, I think. I update atom everytime atom asks for it.

Why I should? Anyway I used https://atom.io/packages/auto-update-packages to always have latest versions of my packages.

[2015-06-05 12:00] mnquintana commented on #162
Did you have sublime-tabs installed at some point?

[2015-06-05 12:07] iamstarkov commented on #162
yes

[2015-06-05 12:09] mnquintana commented on #162
sublime-tabs disables tree-view and tabs by default, so with 0.206.0 not loading deprecated packages, it would mean that sublime-tabs would no longer be loaded, but the tree-view and tabs would still be disabled from when you had sublime-tabs installed. You can safely just re-enable them in Settings / Preferences > Packages.

[2015-06-05 12:12] iamstarkov commented on #162
I already re-enabled them, it helped a lot.

[2015-06-05 12:15] iamstarkov commented on #162
So probably I’m not the only one who have this awful experience, right? I would prefer Atom to handle this case for me, because it was obvious in this concrete situation.

[2015-06-05 12:39] 50Wliu commented on #161
See also #155 which fixed a similar case.

[2015-06-05 12:42] 50Wliu commented on #162
The problem is that Sublime Tabs isn't properly re-enabling Tree View and Tabs when it gets deactivated, so when Atom force-disables Sublime Tabs, the Tree View and Tabs aren't automatically re-enabled.
cc @ddavison.

[2015-06-05 12:56] ddavison commented on #162
so - I have [this issue](https://github.com/ddavison/sublime-tabs/issues/30) which discussed the possibility of having sublime-tabs reenable tabs and tree view, and the problem was:

and

This is very inefficient, and would seriously be annoying if you see two tab and tree-view panes.

According to the [readme](https://github.com/ddavison/sublime-tabs#uninstall), you'll definitely have to reenable

[2015-06-05 12:58] d4rkr00t opened #163 "Tabs restoring with Preview Tabs enabled."
When i try to reopen closed tabs they opens in preview tab and replace each other every time i press `cmd+shift+t`. It seems like a bug.

[2015-06-05 13:24] batjko commented on #162
Ah. Curse you, Sublime tabs!

[2015-06-05 15:43] brendanblackwood opened #164 "Files opened via fuzzy finder should not be temporary"
This is more of an enhancement (possibly) than a bug. If "Use Preview Tabs" is enabled and I open a file via fuzzy finder and don't modify it or double click on the tab, it is a preview tab and will be replaced by the next file opened. I guess I'm used to this behavior coming from SublimeText, but that doesn't really make it "better". What would people think of adding an option for this behavior?

[2015-06-05 15:56] cjihrig commented on #156
I'm extremely excited to have this - preview tabs have probably been my biggest pain point with Atom. You mentioned that it is trickier than you originally thought. Any estimate on when this will be ready?

[2015-06-05 18:11] iamstarkov commented on #162
probably, this issue have been resolved by @kevinsawicki in atom/atom#7123

[2015-06-05 18:15] #162 closed

[2015-06-06 07:46] hawsome commented on #156
I just came here to say, "Yes, this, please". I expected Sublime behavior. Thanks!

[2015-06-06 21:39] peterjeliot opened #165 "Tabs do not become permanent when saved — or we need another shortcut"
As far as I know, there is no keyboard shortcut to make a temporary tab become permanent. In other editors, and in atom-sublime-tabs, saving a file makes the tab permanent, *even if the file is not changed*. I would like us to mimic this behavior.

If there's a keyboard shortcut that exists and I don't know about it, we should add a hint text by the option or something. I don't want to have to add

[2015-06-06 22:01] 50Wliu commented on #165
You can bind `tabs:keep-preview-tab` to a keyboard shortcut in the meantime.  You can also double-click the tab title.

[2015-06-07 19:38] peterjeliot commented on #165
Thanks. I prefer not to use the mouse, but mapping it myself works for now.

[2015-06-07 20:51] AdamBuczynski commented on #156
Would be great to have file double clicking open them permanently, instead of having to double click the tab.

[2015-06-08 04:03] atrotors opened #168 "Files with the same name outside the project"
My issue is very similar to [issue #57](https://github.com/atom/tabs/issues/57) but for files outside the project. The current behaviour is very weird. One tab shows the parent and the other the complete path.

![atom](https://cloud.githubusercontent.com/assets/9994172/8027997/e840aa92-0de6-11e5-90b4-b623ade7f87d.png)

I thought about it and I came up with something like this
[code]
What do you th

[2015-06-08 14:01] Leonick opened #169 "Switching to a tab (clicking it) should give focus to the editor of that tab"
I've noticed that if you click a tab the editor of that tab does not gain focus, it should.

Example:
1. Select and copy something in tab 1
2. Select something else in tab 1
3. Open a new tab and past what you copied
4. Click tab 1 and press ctrl/cmd+c to copy, this should copy what was last, and still is, selected in that tab
5. Return to tab 2 and paste your clipboard, you'll find yourself pasti

[2015-06-08 14:09] izuzak commented on #169
Thanks for the report, @Leonick -- this looks like a duplicate of https://github.com/atom/atom/issues/6662, so I'm closing this in favor of that issue (since it's a bit older and there's already some discussion there).

[2015-06-08 14:09] #169 closed

[2015-06-08 16:43] cstockton commented on #156
I want to +1 this as well, just noticed it when I updated packages and saw sublime text was deprecated and wouldn't work anymore.

[2015-06-08 20:31] AdamBuczynski commented on #164
+1

I actually think this is a bug. When using the fuzzy finder, the file should definitely remain open as it used to before, because you are most likely looking for a specific file to work in.

In addition, if you're already pressing the keyboard commands to open the fuzzy finder, it's no bit detour to press CMD-W to close the window again if you don't want it after all. Whereas having to switch

[2015-06-08 22:51] #165 closed

[2015-06-08 22:51] kevinsawicki commented on #165
Thanks for bringing this it up, saving will clear the preview tab in the next Atom release, 0.208

[2015-06-08 23:37] #161 closed

[2015-06-08 23:38] kevinsawicki commented on #161
I pushed a fixed to make dropped tabs moved between panes permanent, this felt right to me after trying a few different things, and it makes it consistent with split tabs which also start as permanent.

[2015-06-09 01:28] adambuczynski opened #170 "Files opened from external source should not be temporary"
See also #164

Files that I open from finder or any other external source should also be opened permanently.

I think the fact that basically *all* files that are opened now are opened in "temporary mode" breaks your work flow. You don't want to have to remember to double click a file to make it permanent every time after opening. Opening files permanently should be the default, with the temporary

[2015-06-09 02:28] acontreras89 commented on #161
Thank you sir! :thumbsup:

[2015-06-09 12:57] alexrussell opened #171 "Files opened by a double click on treeview should not be temporary"
Put simply: if you single click an item in the treeview, the file comes up in a preview tab. This is great. But, in Sublime (yes, I know, sorry!), double clicking that file tells the editor you want that file. You want it bad. This will ensure that the tab is made permanent. I'd love the same functionality in Atom. Right now I have to either use the `tabs:keep-preview-tab` command, or make the fil

[2015-06-09 12:58] alexrussell commented on #171
Oh ignore this, just seen #156. No idea how I managed to miss it!

[2015-06-09 12:58] #171 closed

[2015-06-09 13:08] alexrussell commented on #156
Just wanted to :+1: this issue. I did subscribe as I once read repo owners use number of subscribers to work out how many people care about a given issue, but I'm not sure how true that is (I certainly can't see an easy way (admittedly as a non-package-owner) to sort by number of subscribers, etc.).

[2015-06-09 16:07] acontreras89 commented on #163
I was about to report this problem too :+1:

[2015-06-09 18:06] #156 closed

[2015-06-09 20:52] 190n opened #172 "Open files not from Tree View in preview tabs"
Can you make it so that files also get opened in preview tabs when you open them from the Open dialog?

[2015-06-10 03:04] peterjeliot commented on #165
Hooray!

[2015-06-10 07:43] acontreras89 commented on #170
:+1:

[2015-06-10 07:47] acontreras89 commented on #172
Isn't that the current behavior?
And yet I feel like preview tabs should only be activated when single clicking a file in tree-view. Just like requested in #170

[2015-06-10 08:17] solbjorn opened #173 "Double clicking on file in Tree view to open permanent tab not working if containing folder is a symlink"
Despite on commit 73658a93, closed #171 and string "Double-clicking a file in the Tree View now makes it a permanent tab when using preview tabs" in Atom 0.208.0 changelog, this feature is not working. Double-clicking in Tree view makes nothing, while single-click open preview tab for file. Tested also with emptied .atom config folder and with --safe parameter.

Atom 0.208.0 (with tabs 0.77) built

[2015-06-10 10:41] mnquintana commented on #173
I can't reproduce this. What is the output of `atom.getVersion()` in the console?

[2015-06-10 10:45] mnquintana commented on #172
@190n That's the current behavior - going to close this. Please comment though if I'm misunderstanding.

[2015-06-10 10:45] #172 closed

[2015-06-10 10:51] solbjorn commented on #173
"0.208.0". Double-click on tab opens it permanently, but doulbe-click on file in Tree view does not.

[2015-06-10 10:52] mnquintana commented on #173
@solbjorn What is the output of atom.getVersion() in the console?

[2015-06-10 10:53] mnquintana commented on #173
Can you paste your `config.cson` here?

[2015-06-10 11:00] solbjorn commented on #173
Of course:
[code]

[2015-06-10 11:03] mnquintana commented on #173
/cc @kevinsawicki

[2015-06-10 12:37] izuzak commented on #115
Going to close this out since it should have been reported on eslint.

[2015-06-10 12:37] #115 closed

[2015-06-10 12:40] izuzak commented on #112
Closing in favor of https://github.com/atom/atom/issues/4891 (thanks for the pointer, @1j01).

[2015-06-10 12:40] #112 closed

[2015-06-10 12:48] izuzak commented on #107
Should have been fixed with https://github.com/atom/tabs/commit/fed5f4c41992a401f94f54dc57943f2c26dd3474 -- let us know if you can still reproduce. :bow:

[2015-06-10 12:48] #107 closed

[2015-06-10 12:54] Verexa opened #174 "Close Tab Actually Closes Pane"
When right-clicking on a tab to bring up the menu. Selecting 'Close Tab' closes the Pane and all of the Tabs in that Pane.
Clicking the cross button on the tab closes a single tab correctly. Clicking 'Close Other Tabs', 'Close Tabs to Right', etc. works correctly.
Therefore the action 'Close Tab' does is the same as pressing 'Close Pane'. Shouldn't these be different behaviors?

Expected Behavior:

[2015-06-10 13:22] mnquintana commented on #174
The option for the behavior you're describing already exists – just go to Settings and uncheck Destroy Empty Panes.

[2015-06-10 13:22] #174 closed

[2015-06-10 14:15] olmokramer opened #175 "Closing tab from context menu also closes previous tab"
As [reported on discuss](https://discuss.atom.io/t/close-tab-menuitem-closes-more-than-one-tab/17588), closing a tab from the context menu also closes the previous tab. This doesn't happen when I close the tab from the command palette or using <kbd>ctrl+w</kbd> keybinding.

I could reproduce it on both Atom 0.208.0 and 0.209.0-b903302.

[2015-06-10 14:23] mwolfindale commented on #173
+1 on Ubuntu 15.04, Atom version 0.207.0

[2015-06-10 14:24] mnquintana commented on #173
@mwolfindale This was added in 0.208.0, not 0.207.0 - you need to upgrade to 0.208.0 first.

[2015-06-10 14:25] mwolfindale commented on #173
Ah sorry! OK, I'll upgrade and let you know if any issues still. Thanks :)

[2015-06-10 16:32] kevinsawicki commented on #173
Tried it out on Ubuntu 14.04 and I was unable to reproduce

[2015-06-10 16:43] solbjorn commented on #173
Same on prebuilt 0.208.0 (deb package) with empited .atom folder and --safe parameter.

[2015-06-10 16:45] kevinsawicki commented on #173
@solbjorn are you double clicking on the the name of the file or the area to the left/right of the text?

[2015-06-10 17:05] #175 closed

[2015-06-10 17:07] solbjorn commented on #173
I tried double-clicking everywhere. I can't reproduce this bug on elementary OS 0.3 with Atom installed from deb package, but on Arch this happens with both built and deb-packaged Atom. Clearing .atom, .cache/Atom, .config/Atom folders does not help.

[2015-06-10 17:07] kevinsawicki commented on #174
I think this might have been #175 which is now fixed

[2015-06-10 17:07] kevinsawicki commented on #175
Thanks for reporting this, this was a regression from https://github.com/atom/tabs/pull/166 which is now fixed and will be in the next Atom release, 0.209

[2015-06-10 17:49] olmokramer commented on #175
Wow that was a quick one :) Thanks!

[2015-06-10 18:00] solbjorn commented on #173
IMPORTANT: double-clicking on files in Tree View does not work ONLY if root folder has been accessed through symlink! That's why we can't reproduce this on elementary and Ubuntu.

[2015-06-10 18:18] brendanblackwood commented on #164
Looking at the other tickets around this (#156, #170, #172), it's looking like it might be good to be able to specify which actions should open a preview and which should not. I like the preview functionality a lot, but for me, there are more cases where I don't want it than where I do.

[2015-06-10 19:05] AdamBuczynski commented on #164
Agree that being able to specify when preview tabs are triggered and when not would probably be the most flexible solution, allowing everyone to configure it as they like.

[2015-06-10 23:19] ssorallen opened #176 "Clicking a tab does not focus its TextEditor"
1. Open two tabs
2. Click the inactive tab

The editor of that tab does not gain focus when the tab is activated. If you navigate with the keyboard, say via Cmd + 1 and Cmd + 2, the editor *does* gain focus.

Particularly strange case:

1. Open two tabs
2. Highlight text in the active tab
3. Click the inactive tab to activate it
4. Click the other tab (the one with the highlight) to re-activate it

[2015-06-10 23:21] kevinsawicki commented on #176
I think this may have just been fixed in https://github.com/atom/tabs/pull/150

[2015-06-10 23:23] mnquintana commented on #176
@ssorallen This should've been fixed in #150, which will be in Atom 0.209.0. When 0.209.0 is out, if you can still reproduce this, feel free to comment / reopen.

[2015-06-10 23:23] #176 closed

[2015-06-10 23:23] ssorallen commented on #176
Great, thanks. That change might also fix #93.

[2015-06-10 23:23] ssorallen commented on #176
Actually never mind, not exactly the same issue. #150 looks good though, thanks.

[2015-06-11 09:20] mwolfindale commented on #173
Reproduced this on Ubuntu 15.04, Atom 0.208.0, double clicking on files in tree view opens permanent tab __except__ when the containing folder is a symlink (this can either be the root project folder, _or_ any folder in the project)

[2015-06-11 19:21] mnquintana commented on #173
Thanks for the updates everyone! I can reproduce this with Atom 0.209.0 and OS X 10.10.3 for files inside of symlinked directories.

[2015-06-11 20:28] grizzilus commented on #142
This was completed in #152 so I'll close this.

[2015-06-11 20:28] #142 closed

[2015-06-11 22:21] AdamBuczynski opened #177 "Check if matching quote already exists before adding an extra one"
See the following example:

![ex1](https://www.dropbox.com/s/8ciiou7liutx4mo/quote%20replacement.gif?dl=1)

When a valid matching closing quote already exists on the same line, Atom should not auto include a redundant closing quote.

[2015-06-11 22:23] titosrevenge commented on #61
+1 Would also like the keybinding for closing all tabs without closing the window

[2015-06-11 22:23] AdamBuczynski commented on #177
Accidentally opened in tabs instead of atom core.

[2015-06-11 22:23] #177 closed

[2015-06-12 11:54] afinne opened #178 "Suggestion: Opening file from fuzzy finder should not open as Preview tab"
When using Cmd-P or Cmd-T to activate the fuzzy finder, and choose a file from there, at least I would like it to open as a "normal" tab and not in "preview mode".

It feels like preview tabs is great when clicking through the tree view, but when you type the name of a file and select it, you most likely want it to be "normal".

Is this something that could be added?

[2015-06-12 11:56] mnquintana commented on #178
This is a duplicate of https://github.com/atom/tabs/issues/164 - please subscribe there for updates.

[2015-06-12 11:56] #178 closed

[2015-06-14 00:14] adambuczynski commented on #170
I really think this is a bug, rather than an enhancement. Today I was opening files on an FTP server via transmit for some quick editing, and after having opened the 5 files that I needed, I went to Atom to work on them, but found that it had only kept the last file that I opened open in it's tabs, so I had to go and open them again, one by one, then double click the tab to force the file to stay

[2015-06-14 09:42] freemanoid opened #179 "Stick preview pane when save (cmd+s)"
Currently if I want to stick the preview pane I need to either type something inside and delete it or double click on the tab.
I think it would be useful to stick the preview tab via saving by cmd + s (this is how sublime text works) or another hotkey.

[2015-06-14 11:11] mnquintana opened #180 "Better indicate preview tab"
_From @linquize on June 14, 2015 7:51_

It would be clearer to indicate preview tab by adding some visual effects.
This allows user to easily distinguish from normal tabs.
e.g. A different background color, text color or adding a special symbol.

_Copied from original issue: atom/atom#7273_

[2015-06-14 11:11] mnquintana commented on #180
_From @YuriSolovyov on June 14, 2015 8:36_

sublime does it using italic font for tab title

[2015-06-14 11:11] mnquintana commented on #180
_From @linquize on June 14, 2015 8:51_

Visual Studio uses different background color and border.

[2015-06-14 11:11] mnquintana commented on #180
_From @freemanoid on June 14, 2015 9:31_

Atom works the same now.

[2015-06-14 11:11] mnquintana commented on #180
_From @linquize on June 14, 2015 9:41_

I notice that: Italic font, like sublime

[2015-06-14 11:31] mnquintana commented on #179
What version of Atom are you using? [Saving a file opened in a preview tab should make it a permanent tab (it was added in 0.208.0)](https://github.com/atom/tabs/issues/165). In addition, there's also a Keep Preview Tab command if you right click on a preview tab, and you could map that to a keybinding if you wanted:

[code]

[2015-06-14 12:54] freemanoid commented on #179
Cool, thank you for pointing me, I used 0.207 and somehow missed this feature in release notes. Sorry for disturb.

[2015-06-14 12:54] #179 closed

[2015-06-15 18:58] thedaniel commented on #170
@kevinsawicki we talked on our call today about making tabs default to permanent and require some option passed in the call to make them temporary to avoid future bugs like this - today the tree-view would be the only caller that would initiate temporary tabs - does that make sense?

[2015-06-15 19:17] adambuczynski commented on #170
Seems like a good idea in my opinion.

[2015-06-15 19:26] acontreras89 commented on #170
sounds great :smile:
and it's likely to simplify some cases, like double-clicking in tree-view to open the file without preview mode.

[2015-06-16 11:51] varemenos opened #181 "Uncaught TypeError: Cannot read property 'scrollViewNode' of null"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.209.0
**System**: Mac OS X 10.10.2
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.80.0

### Stack Trace

Uncaught TypeError: Cannot read property 'scrollViewNode' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-17 12:03] izuzak commented on #181
@varemenos The information you provided indicates that something in your init script is causing these problems: `At /Users/akakoulidis/.atom/init.js:6`. If you'd like more advice on debugging this or think this isn't a problem in that script -- please include the contents of that file here.

[2015-06-17 12:03] #181 closed

[2015-06-17 12:23] varemenos commented on #181
The content of my init.js are posted below, it unbinds the events that are bound in the middle click (there is no other way to currently disable the middle clicking in Linux). I will go ahead and modify my script to check if the things the script is using exist. Thank you for the reply Ivan.

[code]

[2015-06-17 15:22] crazymykl commented on #170
@thedaniel: cmd-p should also make temporary tabs.

[2015-06-17 15:25] kevinsawicki commented on #170
Yup, makes sense

[2015-06-17 17:54] adambuczynski commented on #170
Doesn't make sense to me, see other issue raised about opening files in
fuzzy finder. At least make it a configurable option.
On Jun 18, 2015 3:25 AM, "Kevin Sawicki" <notifications@github.com> wrote:

[2015-06-17 18:14] adambuczynski commented on #170
@crazymykl I disagree, see this issue: https://github.com/atom/tabs/issues/164

Everything except single click in tree view should make permanent tabs. If you're in fuzzy finder, you are using the keyboard, and it's not a big effort to hit cmd-w after cmd-p. When you want to open a bunch of files with cmd-p to work in however, it's a real hassle to have to switch from keyboard to mouse in order to

[2015-06-17 20:43] crazymykl commented on #170
Doesn't hitting any key then backspace make it permanent already, no mousing needed?

Since there are differences of opinion, a setting seems prudent.

[2015-06-17 22:14] adambuczynski commented on #170
I don't really want to incorporate having to hit a random key + backspace for every single file that I open into my daily workflow....

Atom is supposed to make my life easier, not harder. But I agree, if this could be turned into sensible settings, everyone would be happy. E.g.:

Use preview tabs for:
- Files opened from external source: false
- Files opened via tree view with single click: true

[2015-06-18 08:48] thomasjo commented on #170
This is definitely the way to approach resolving this issue. Doing the opposite seems rather silly, since there are far fewer cases where we want to open a tab in preview mode than not. Not having looked at the code for this, my immediate thought is that this must surely be the easiest approach, and the one requiring minimal changes.

[2015-06-18 16:35] jakesankey commented on #142
This great news. I am the dev of git-tab-status, I will unpublish the package. Glad it made it into Tabs!

[2015-06-18 16:41] acontreras89 commented on #142
@jakesankey :ok_hand:
thanks for your package, I used to use it until I decided to include it in the tabs core package

[2015-06-18 17:09] kankaristo commented on #142
This doesn't seem to be working for me... The file names are colored in the tree view, but not on the tabs.

The git-tab-status package is working fine, but "Enable VCS Coloring" isn't.

[2015-06-18 17:10] mnquintana commented on #142
@kankaristo It won't work if you have both enabled. You'll need to uninstall or disable git-tab-status first, then Enable VCS Coloring.

[2015-06-18 17:13] kankaristo commented on #142
I did that (first disabled, then uninstalled).

I just noticed that this doesn't seem to be working well with symlinks...

The tabs are colored fine if the project is in a normal directory, but I have a few projects where the project directory's parent directory is a symlink to an external drive, and the coloring is broken for those. The coloring works in tree-view and with git-tab-status.

[2015-06-18 17:15] mnquintana commented on #142
@kankaristo Hmmm, would you mind making a new issue for that so we can investigate further? (That's why we didn't enable it by default, just to be able to catch any lingering bugs.) Thanks!

[2015-06-18 17:15] kankaristo commented on #142
Sure. :)

[2015-06-18 17:22] acontreras89 commented on #142
Point to the issue here and I'll start working on it right away :)

[2015-06-18 17:23] kankaristo opened #182 ""Enable VCS Coloring" does not work with symbolic links"
The "Enable VCS Coloring" feature seems to break if the project directory or any of its parent directories is a symbolic link.

I have most of my (larger) projects on an external drive, because my main hard drive is a small SSD. I have symbolic links from inside my home directory to the external drive.

If I open a directory from the external drive, the tab coloring works fine. If I open the same

[2015-06-18 17:24] kankaristo commented on #142
Opened an issue here: https://github.com/atom/tabs/issues/182

[2015-06-18 18:30] DrDanRyan opened #183 "Uncaught TypeError: Cannot read property 'dispose' of undefined"
[Enter steps to reproduce below:]

1. Open Git-Log: Show
2. Try to close tab

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-18 18:45] acontreras89 commented on #182
I've been able to reproduce this error.
I'm already looking into it. `getRepoForPath` ([here](https://github.com/atom/tabs/blob/master/lib/tab-view.coffee#L210)) does not find the repository for the file if any of its parent folders is a symbolic link.
To fix that, `atom.project.getDirectories` should be used instead of `atom.project.getPaths` (which returns the real paths for the projects.)

.. W

[2015-06-18 19:40] acontreras89 commented on #182
@kankaristo can you check this issue https://github.com/atom/tree-view/issues/484 and let me know if you are able to reproduce it?

It might be closely related to the problem we're addressing here.

[2015-06-18 21:42] doughsay commented on #97
FWIW, this just happened to me on the latest build (0.210.0) with tabs package 0.81.0.

[code]

[2015-06-18 21:43] acontreras89 commented on #182
Created https://github.com/atom/tabs/pull/184 to fix this problem.

[2015-06-19 13:51] Fank commented on #183
I got the same error, with the same package. Open the git log, close it before it show content and close it.

**Atom Version**: 0.210.0
**System**: Ubuntu 15.04
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-20 13:43] DjebbZ commented on #183
Same here, it happened to me just now.

[2015-06-22 08:16] paulpflug opened #185 "API request: Event clearPreviewTab/openedPermamentTab"
I want to enhance my package [opened files](https://atom.io/packages/opened-files)
and make it work like its counterpart in microsofts VS code (which works quite well)

For that I need an event when a tab is opened or made permanent.

permanent tab is opened -> fire
temporary tab is opened -> don't fire
previously temporary tab is made permanent -> fire

I looked into the code of tabs, but the onl

[2015-06-22 09:24] filipesilva commented on #183
I also have this problem.

[2015-06-22 11:19] ynnoj opened #186 "Uncaught ReferenceError: path is not defined"
1. Open any file using the project file shortcut (Cmd+T).
2. Error not always triggered. Occasionally the file will open, but will not become active in pane.

**Atom Version**: 0.210.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught ReferenceError: path is not defined

[code]

### Commands

[code]

### Config

[code]

#

[2015-06-22 11:22] izuzak commented on #186
Might be a problem in your init.coffee script -- notice the top of the stack trace:

[code]

Can you post the contents of your init.coffee file?

[2015-06-22 11:33] ynnoj commented on #186
Ah! I had added a few lines to change the way file names are displayed on the tabs. This was working in older versions (perhaps pre `0.200.0`). What changes are required to keep this custom setting?

### js
{TextEditor} = require 'atom'
TextEditor::getLongTitle = ->
  if sessionPath = @getPath()
    fileName = path.basename(sessionPath)
    directory = atom.project.relativize(path.dirname(sessionP

[2015-06-22 11:37] izuzak commented on #186
Try adding `path = require 'path'` to the top of the script.

[2015-06-22 11:37] #186 closed

[2015-06-22 11:42] ynnoj commented on #186
Great, thanks @izuzak.

[2015-06-22 22:25] denysdovhan commented on #183
I have same problem

[2015-06-22 22:45] lordjavac opened #187 "Move class for "Enable VCS Coloring" to the tab element"
The enable VCS coloring for tabs places a class on the title element of the tab:
[code]

rather than the root of the tab itself:
[code]

This limits the possibilities for styling tabs with VCS statuses. By moving the class to the tab root, we can color the entire tab to indicate VCS status, not just the title.

[2015-06-22 23:26] damm commented on #183
same here...  Nothing fancy started atom closed 2 windows and ..

***Atom Version**: 0.211.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-23 03:38] JCCR commented on #108
It appears to be because the pane item it tries to copy (markdown preview view in this case) has no "copy" method implemented.

[2015-06-23 19:20] brendanfalkowski commented on #57
Showing a longer snippet from the end of the path is more useful than showing the beginning + end. In practice I see the exact same thing for all tab titles (also a problem in screenshots above).

When the path to files is not very shallow (1-2 folders) they're not distinguishable. It would be more effective if there are multiple tabs with the same file name to show the full path from the right si

[2015-06-23 22:49] mrkaspa commented on #17
Any news about this? I only keep using ST because of this

[2015-06-24 06:50] MateuszG commented on #97
Error: The workspace can only contain one instance of item [object Object]
  at ItemRegistry.module.exports.ItemRegistry.addItem (/usr/share/atom/resources/app.asar/src/item-registry.js:11:15)
  at PaneContainer.module.exports.PaneContainer.addedPaneItem (/usr/share/atom/resources/app.asar/src/pane-container.js:374:25)
  at /usr/share/atom/resources/app.asar/src/pane-container.js:362:26
  at Emitt

[2015-06-25 00:22] paulpflug opened #188 "API request: Workspace::open with clearPreview"
Access to the clearPreview function when opening a new tab would be very useful.
Something like:
[code]
Or
[code]

[2015-06-25 22:41] nrozic commented on #183
Same here
[Enter steps to reproduce below:]

1. Open git log
2. Try to close git log tab

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 02:45] dantman commented on #137
Tabs only scroll horizontally. This is an editor, not a web page. Shift should not be required to scroll through the tabs.

[2015-06-26 16:52] alexbuzzbee commented on #183
Same.

1. Open a Git project in Atom.
2. Do git-log:show from command palate.
3. Wait for content to appear.
4. Attempt to close tab.
5. Notice that tab cannot be closed at all, even though, when selected, it is empty.

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read proper

[2015-06-28 20:12] crucialfelix commented on #183
I'm the author of the atom supercollider package. I get the same issue all the time. I would guess its because there isn't a real document in that pane. Its a REPL post window.

[2015-06-28 23:33] damm commented on #183
+1 what @crucialfelix said; I was trying to close several tabs and it looked like it spawned a bunch of empty tabs in error (with no documents)

I had to just quit Atom and start it back up and it worked

[2015-06-29 05:05] thinklog opened #189 "Incorrect file name displayed in tooltip"
The tab has a label that displays the file name. If you hover the cursor over that label a balloon displays the full path to the file. At times the balloon displays the wrong path, as in the following example.
1. Save "file 1" to "path 1".
2. Hover over the label.
3. The correct path of file 1 at path 1 is displayed.
4. Save As... the same "file 1" to "path 2", using the same file name. Only the p

[2015-06-29 12:25] weiher commented on #183
Off-Topic: I really love the "This issue has already been reported. View Issue" Function in Atom Editor. You know that there is a bug, you know how it can be reproduce and as all of your users are developers, they can handle this type of information!

On-Topic: Had the same problem, **window:reload** as suggested by @alexbuzzbee works for me.

[2015-06-29 12:41] defel commented on #17
Hi *,

i am using [tab-switcher](https://atom.io/packages/tab-switcher) now and are happy with it.

Here is my `keymap.cson`:

[code]

[2015-06-29 13:02] batjko commented on #17
@mrkaspa If that's the only thing keeping you from using Atom, do have a look at either [tab-switcher](https://atom.io/packages/tab-switcher) or [tab-history](https://github.com/guillaume86/tab-history) as suggested people above.

[2015-06-29 14:24] timscott commented on #17
@defel The shortcoming of [tab-switcher](https://github.com/oggy/tab-switcher) is that it does not focus the last tab when closing a tab. I have filed [an issue](https://github.com/oggy/tab-switcher/issues/11) but the author says it needs to come form Atom core. IMO this is very important and something every ST3 convert just expects.

[2015-06-29 14:34] defel commented on #17
@timscott looks like the needed pull request was accepted and will be merged soon. Thanks for this info.

[2015-06-30 13:00] matthewmorek opened #190 "Cannot drag inactive tabs without focusing them first"
You have to make a tab/pane active first, before you are able to click-drag it, to reorder, or move across to another pane.
#### Steps to reproduce:
1. Open up a file in Atom.
2. Split the panes in whichever way you want.
3. Click on either pane/tab to make it active/bring it to focus.
4. Try click-dragging the other file into the opposite pane.

[2015-06-30 20:57] mradzinski commented on #183
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Unknown Windows Version
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-01 08:01] motjuste commented on #183
1. check git log for a project in C++ (Package: git-log)
2. close the git log tab with Cmd+w

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught TypeError: Cannot read property 'dispose' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-03 01:47] Zyneak opened #192 "Uncaught Error: Cannot find module 'shell'Error: Cannot find module 'shell' at Function.Modu..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.81.0

### Stack Trace

Uncaught Error: Cannot find module 'shell'
Error: Cannot find module 'shell'
    at Function.Module._resolveFilename (module.js:328:15)
    at Function.Module._load (module.js:270:25)
    at Module.requi

[2015-07-03 14:31] 50Wliu commented on #192
Hi @Zyneak, can you please share some steps as to how you got to this error?  Thanks.

[2015-07-04 20:52] YAmikep opened #193 "Preview tabs setting and files opened from the context menu or dragged inside the editor."
When the "Use Preview Tabs" setting is enabled, all the files I open from the context menu on Windows (Right click -> Open with Atom) or the files I drag and drop inside Atom stay in preview mode.
This brings another issue: if you select several files and drag them into Atom to look at them, only one preview tab is created so you cannot see all the files.
I would expect the files to be open and no

[2015-07-05 13:16] mnquintana commented on #189
More steps to reproduce:

1. Open a file.
1. Move it inside another directory with `Tree View: Rename`
1. Hover over tab - the old path will be displayed.

[2015-07-06 13:42] alexrussell commented on #170
:+1: for the permanent-as-default and preview/temporary for single clicking in treeview **only**.

[2015-07-06 13:47] acontreras89 commented on #170
Is someone working on this? If not, I'd gladly take the _challenge_ :stuck_out_tongue:

[2015-07-06 15:48] lee-dohm commented on #170
I don't see any open PRs attached @acontreras89. I'd say go for it :grinning:

[2015-07-06 20:50] kevinsawicki commented on #151
This was fixed in Atom 1.0 now that emissary is no longer used for tracking subscriptions in the `Pane` model.

[2015-07-06 20:50] #151 closed

[2015-07-06 21:17] #182 closed

[2015-07-07 00:08] #192 closed

[2015-07-07 07:52] as-cii commented on #183
This seems to be the culprit for `git-log-view`: https://github.com/NikhilKalige/git-log/blob/master/lib/git-log-view.js#L183-L189. I think those two functions were implemented because at some point in `tabs` history they were mandatory: the package, however, is not actually using them and unfortunately returns `null`. As a result, we are adding an `undefined` object to the `CompositeDisposable` t

[2015-07-07 08:03] thomasjo commented on #183
Nice catch @as-cii

[2015-07-07 09:13] Haraldson commented on #160
And then when emptying trash, you usually get one of those annoying red error warning popups. Hoping for a fix for this one as well.

[2015-07-08 03:35] bradleyflood commented on #189
Same issue when using `Save as`, the old filename is displayed in the balloon.

[2015-07-08 09:35] mbrammer opened #194 "Reverting the Tab path"
Since I'm having several global.js files in different folders, the tab pane looks for me like this:

`global.js - myproject/foo/bar/controllers` | `global.js - myproject/foo/bar/services` | `global.js - myproject/foo/bar/directives` | `global.js - myproject/foo/bar/filters` | `global.js - myproject/foo/bar/factories`

So if there are some more tabs open I only see this (because the rest of the pat

[2015-07-08 17:48] acontreras89 commented on #170
:ok_hand: working on it, @lee-dohm

[2015-07-12 06:09] rubencaro commented on #61
+1. closing all tabs without closing the window a must.

[2015-07-13 03:59] lee-dohm commented on #61
There is a command for closing all tabs. And as far as I know, there are commands for all the other items in the context menu too:

<img width="613" alt="screen shot 2015-07-12 at 8 58 36 pm" src="https://cloud.githubusercontent.com/assets/1038121/8642426/cb5605c8-28d8-11e5-9dda-b2f025e3f020.png">

Closing this as fixed. If there are specific commands that are still missing, please open a single i

[2015-07-13 03:59] #61 closed

[2015-07-13 04:32] mryellow commented on #61
Debian KDE - Atom 0.2
![atom_close_menu](https://cloud.githubusercontent.com/assets/213575/8642723/f50034be-296b-11e5-82ed-422093d85993.png)

[2015-07-13 05:02] rubencaro commented on #61
Sorry, what we meant was to be able to define keybindings for these commands. At least that's what I meant.

[2015-07-13 05:15] lee-dohm commented on #61
You should be able to define key bindings for virtually any command in the command palette. The command name is a simple transformation from the label in the command palette. In this case:

* `tabs:close-other-tabs`
* `tabs:close-saved-tabs`
* etc

See the code here:

https://github.com/atom/tabs/blob/3b4124593b42dcdf003c0ac9a7e6c50fea34e11f/lib/tab-bar-view.coffee#L17-L23

[2015-07-13 05:17] rubencaro commented on #61
Nice!  Thanks!

[2015-07-13 11:02] einarmagnus commented on #193
Same goes for files opened from the command line. If I run `atom somefile.md` I expect it to stay open as if I double-clicked it in the project drawer, right now it doesn't.

[2015-07-13 11:09] einarmagnus commented on #193
I see now that this is a duplicate of #170 and that someone is working on it! Great!

[2015-07-13 15:27] lee-dohm commented on #193
Thanks @einarmagnus. You're correct, this is a duplicate of #170. Closing this as duplicate.

[2015-07-13 15:27] #193 closed

[2015-07-13 21:48] mryellow commented on #61
Your competition all have a "Close All Tabs" button on the file menu. This is an expected paradigm. Missing this button leaves new users not able to find basic functionality.

[2015-07-14 00:48] zdrummond commented on #17
+1

This is expected-behavior in all text editors I have used...

[2015-07-14 10:22] astorije commented on #160
Agreed when you delete the file from the file tree, but when the file is edited or removed from outside of Atom, it's nice to keep it around (or to keep it untouched in the case of edited files).
It works that way in Sublime Text (maybe it already works like this with Atom, I haven't checked), and it saved my a*s a few times when the file I didn't save the file I was editing and it changed on the

[2015-07-14 10:28] astorije commented on #17
:+1:

[2015-07-14 10:34] mnquintana commented on #17
Thanks for the feedback everyone! However, all these +1s and :+1:s are just adding noise, so to minimize that I'm going to lock this issue for now – we may unlock it once someone starts working on this enhancement to get further feedback.

[2015-07-16 11:28] RamIdeas commented on #137
I'm with @dantman. Anywhere you see an area that scrolls only horizontally, vertical scrolling is mapped to the horizontal axis.

Plus, I have never even heard of using `shift` to scroll horizontally.

[2015-07-16 12:13] v3ss0n commented on #137
As this one is closed , may be open a new issue?
i am agree with both of you.

[2015-07-16 12:35] v3ss0n commented on #137
thanks a lot @mnquintana

[2015-07-17 15:26] rlam3 commented on #160
+10000000

[2015-07-17 17:09] danqing commented on #97
Just happened to me. OS X 10.10.4, Atom 1.0.2.

[code]

[2015-07-17 23:38] harai commented on #160
+1

[2015-07-20 17:56] kevinsawicki commented on #33
Now that multi folder projects are supported, you can open files from any folder in the current window and manage multiple top level folders in one window, closing this out.

http://blog.atom.io/2015/04/15/multi-folder-projects.html

[2015-07-20 17:56] #33 closed

[2015-07-20 22:34] bronson commented on #164
I'd like the tab to become permanent if I navigate in a file (not scrolling, but if I move the cursor even a single character).  Without this, I find using preview tabs requires too much double-clicking to manually force a tab I'm interested in to stick around.

(wonder if I could find some events that would allow me to write a package that does this...?)

[2015-07-21 13:36] grayghostvisuals opened #196 "Preview Tabs Should Only Stay Open When Modified."
Even though a tab preview is great, Atom still keeps a single tab open for the last file highlighted in the tree view. Attached is a screen capture in gif form.

**Desired Outcome** : I want preview tabs to close no matter what. They should only open when I modify them and only then.

![previewtabs-atom](https://cloud.githubusercontent.com/assets/934322/8801914/cc857140-2f8b-11e5-9298-2e28430b7236

[2015-07-21 13:39] mnquintana commented on #196
I'm not sure I follow from the screencap - can you elaborate?

[2015-07-21 13:44] grayghostvisuals commented on #196
@mnquintana If you look and follow:

1. I select a file from tree view
2. The selected file displays the preview in a tab
3. If I unselect the file from the tree view and go back to another tab I'm actually editing the preview tab still stays open even though I never modified it. Make sense now?

[2015-07-23 16:18] bruninja opened #197 "Uncaught Error: ESPIPE: invalid seek, write"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.2
**System**: "Fedora release
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.82.0

### Stack Trace

Uncaught Error: ESPIPE: invalid seek, write

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-23 16:20] bruninja commented on #197
This error occurs while update a file by ftp.

[2015-07-27 12:43] collinstocks opened #198 "Tabs should close on middle click, not middle mousedown, like other tabbed applications."
In other applications that use tabs (such as Google Chrome, Firefox, etc), middle clicking tabs closes them. Atom sort of has this feature, but instead of closing the tab on mouseup (which triggers the click event), Atom closes the tab immediately upon mousedown. I was a bit surprised by this behavior, and more than once I've accidentally closed the wrong tab. In other applications where middle cl

[2015-07-27 12:45] mnquintana commented on #198
This was an intentional change added in https://github.com/atom/tabs/pull/124 – I'm not so sure that it should be reverted.

@atom/feedback

[2015-07-27 12:47] collinstocks commented on #198
@mnquintana #124 is about switching tabs. I'm talking about closing tabs.

[2015-07-27 13:06] mnquintana commented on #198
@collinstocks Ah sorry, my mistake. That would make this consistent with left clicking on the close icon.

[2015-07-27 18:51] sterjakov commented on #160
+11111

[2015-07-27 21:02] kevinsawicki commented on #197
This was fixed by https://github.com/atom/atom/pull/7802 and will be included in Atom 1.0.3

[2015-07-27 21:02] #197 closed

[2015-07-28 08:23] nervewax commented on #97
**Atom Version**: 1.0.2
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.82.0

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-07-28 23:03] Stanzilla opened #199 "[Feature Request] Color by project"
I'm not quite sure if themes already have access to that info, but being able to color tabs differently depending on the project they belong to would be neat.

A non ugly way for example could be something like a 1px border but that's up to the theme then.

[2015-07-28 23:15] thomasjo commented on #199
This sounds like a great idea for a package! A few existing packages for inspiration:
 - https://atom.io/packages/project-colorize
 - https://atom.io/packages/color-tabs

[2015-07-28 23:15] #199 closed

[2015-07-30 11:25] burodepeper opened #200 "Keep focus on content in inactive tab, instead of focus on line number"
First of all, I'm not sure if I'm reporting this to the right repo, but here it goes.

Use/test case:
I'm working on a simple text file (A), where I have added some notes on line 100. I then open that same file in another tab (B), and start working on something at line 50 for which I keep an eye on the tab A where my notes are. Now, when I add lines to tab B, the focus of tab A stays at line 100,

[2015-07-31 20:59] blobgo opened #201 "Autofill language"
It would be great if the language search field would be auto filled with the language the actual file uses. (based on the file extension e.g.)

So if you currently edit a .js file it should automatically fill in javascript in this box.

[2015-07-31 21:01] blobgo commented on #201
Oh no wrong repo... Sorry.

[2015-07-31 21:01] #201 closed

[2015-08-03 12:17] baelter commented on #97
Another..

1. Open atom
2. Close open tabs

**Atom Version**: 1.0.3
**System**: "Manjaro Linux"
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.82.0

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-11 07:26] v3ss0n commented on #138
anyone interested in working on this?

[2015-08-14 12:52] brianmhunt opened #202 "Keep preview open whenever the pane is double-clicked"
Right now one has to either modify the file, or double-click the *tab*.

It would be helpful in some use cases to be able to double-click anywhere in the the tab pane to trigger its persistence. This would save time having to focus on the small tab with the mouse and clicking, or click-edit-unedit, for tabs one just wants to keep open. There doesn't seem to be a downside as there's no competing us

[2015-08-15 06:38] ManasN commented on #183
Can I overcome this issue temporarily and still use the plugin? Won't mind doing some extra settings or pressing extra keys.
I love atom. Slickest at it's best.

[2015-08-18 14:25] gmarketer commented on #122
Got that error via 'Close All Tabs' command and fast clicking on 'Do not save button'.

[2015-08-19 12:40] as-cii commented on #183
@ManasN: there's a [pending PR](https://github.com/atom/event-kit/issues/12) where we have discussed how to properly address this problem. We have settled on adding a check to verify that clients properly implement the `Disposable` contract and, once it lands, you should be able to use the `git-log` package (even if https://github.com/NikhilKalige/git-log/pull/60 doesn't get merged).

Sorry this i

[2015-08-19 14:41] PCateNumbersUSA commented on #170
Would love to see this setting added as well.

[2015-08-19 15:41] brownie3003 commented on #76
Very nice, thanks @simurai

[2015-08-23 11:58] spaghetticodr commented on #198
WTF, this is definately not a bug! Closing the tab immediately is standard and expected behaviour, at least in Windows (IE and anything that uses native Windows UI, Opera 12 also).

That's one of the reasons why I'm still using outdated Opera v12. Besides Firefox being slow and ugly as a snail, it's actually waits until you release the middle mouse button, making the UX even more slower.

Google C

[2015-08-26 00:49] tsbarnes opened #203 "Uncaught TypeError: Cannot read property 'dataTransfer' of null"
Any time I close the last tab after installing the [todo-manager](https://github.com/benjaminRomano/todo-manager) package, this error occurs.  Obviously, I'll submit an issue on that package as well, but if nothing else this package should probably handle this error more gracefully.

**Atom Version**: 1.0.7
**System**: Ubuntu 15.04
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.

[2015-08-27 22:51] mariosergiomachado commented on #203
Here is not when I close the last tab.

[2015-08-28 12:33] gsscoder commented on #183
TL;DR
I also had this issue...

[2015-08-28 14:02] ddavison opened #206 "[Enhancement] Do not preview direct-opened tabs"
*migrated from https://github.com/ddavison/sublime-tabs/issues/134*

@Epigene:

I enjoy clicking around the tree view and only opening the files in preview tab by enabling the "Use Preview Tabs" option of this package, but it is unfortunate that previewing also affects other opening scenarios.

Specifically:
* Files opened through File->Open
* Files drag-and-dropped
* Files opened through fuzzy se

[2015-08-28 15:25] ppires opened #207 "key bindings doesn't work on temporary tabs"
I've changed my "ctrl-shift-W" key binding to closes all tabs, instead of closing the editor. When the current tab is a preview tab, and I execute the "close all tabs" command, the editor is closed, instead of all tabs. ~~Also, when in a preview tab, "ctrl-PageUp" and "ctrl-PageDown" don't switch tabs~~ (after updating atom to 1.0.8 this stopped happening).
I've noticed that after opening a previe

[2015-08-28 16:02] #183 closed

[2015-08-28 16:06] filipesilva commented on #183
Cheers for the fix!

[2015-08-28 20:36] gsscoder commented on #183
:+1:

[2015-08-28 21:03] 50Wliu commented on #97
1. Open Atom
2. Close an untitled tab that was in the opened project

**Atom Version**: 1.0.8
**System**: Microsoft Windows 10 Home
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.82.0

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-08-29 10:17] jerone commented on #198
:+1: In all tab-related programs I've used, closing a tab on middle click is executed on mouseup event, giving users a way to change their minds.

[2015-08-31 22:04] ssorallen opened #208 "Loosen `[is=tree-view-file]` tree view selector requirement"
The selector used for watching events in the file tree, `'.tree-view li[is=tree-view-file]'`, expects a custom element using the name "tree-view-file" but it only needs the element to have a `data-path` attribute. Switching to `.tree-view .entry.file` or allowing a selector to be configured would allow other clients to match the expected selector API without needing a custom element.

https://gith

[2015-09-03 19:51] erwan commented on #129
@philipgiuliani do you have a branch of the stuff you tried?

[2015-09-03 21:20] philipgiuliani commented on #129
@erwan no sorry i just had it locally :( But it didn't work because the active tab had another size. with the current updated one-dark/light themes it should work. I think this functionality (at least how i thought to implement it) would break a lot of other themes.. I could try it now with all this updated stuff again!

[2015-09-07 13:10] lagartoflojo commented on #206
To add to this: Opening multiple files through the File->Open dialog is broken with Preview Tabs enabled, as they will all open on the same preview tab. End result is that only one of the selected files opens. Permanent tabs in this case would definitely be preferred.

[2015-09-07 20:24] p-ho commented on #203
I can confirm the relation between todo-manager and this issue. As soon as I've uninstalled todo-manager, the issue was resolved.

Furthermore I've experienced that it isn't possible to drag and drop tabs (aka change the order of tabs) having todo-manager installed.

[2015-09-07 20:47] benjaminRomano commented on #203
@p-ho could you copy and paste the error message you get into this [issue](https://github.com/benjaminRomano/todo-manager/issues/9). I'll take a look and see if I can figure out what's causing this issue.

[2015-09-08 05:37] simurai commented on #129
Yeah, I can imagine it's tricky to do for all themes. And in the One theme there is already a discussion about having 2 tab size modes: https://github.com/atom/one-dark-ui/pull/94.

Moving the close button to left might help https://github.com/atom/one-dark-ui/pull/95? But I think it also depends on the theme.. some resize depending how much space is available. And that would be only on Mac.

[2015-09-08 19:32] adambuczynski commented on #170
@acontreras89 any luck?

[2015-09-08 23:43] acontreras89 commented on #170
I'm sorry @adambuczynski, I will try to come back to you as soon as possible

[2015-09-09 09:30] zyklus opened #209 "Can only re-open one file at a time with 'preview tabs' enabled"
If I try to re-open (un-close) multiple files via `cmd+shift+t`, and `preview tabs` is enabled, it re-opens one as a preview tab and just cycles between the last two closed files.

[2015-09-09 14:57] 50Wliu commented on #209
Duplicate of #163, please subscribe there for updates.

[2015-09-09 14:57] #209 closed

[2015-09-17 17:41] enricribas commented on #206
+1
We have a guy refusing to switch from Sublime over this :)

[2015-09-18 09:27] nlenkowski commented on #164
This! I love tab previews in conjunction with the sidebar, it's nice to be able to preview lots of files quickly. However, opening multiple files in sequence from the fuzzy finder is a real pain with tab previews enabled. Each time I open a file I then have to double click its tab before opening the next, lest the tab be replaced by the next file opened.

[2015-09-18 10:41] adambuczynski commented on #164
Yeah, it's becoming quite a pain, I forgot how it feels to be able to work without having to double click every other tab :P

I was hoping this would get fixed as a part of the quality initiative, as it was listed as a todo item there, but unfortunately it seems to be quite low on the radar.

[2015-09-18 10:43] nlenkowski commented on #164
Yeah, I saw that was in the quality initiative, bummer it didn't get fixed yet. Hopefully it will be on deck soon.

[2015-09-23 05:31] ProLoser commented on #202
:+1: I agree, I believe this is also the sublime behavior too.

[2015-09-23 05:32] ProLoser commented on #206
:+1: I too would like to see fuzzy-search not use previews.

[2015-09-23 05:33] ProLoser commented on #196
I think what you're saying is that preview tab should disappear when another tab is focused.

[2015-09-23 12:49] grayghostvisuals commented on #196
yes. just like the screenshot

[2015-09-24 21:06] samson-jerome commented on #136
Hi,
Any news on this ?
On my install (laptop with win8.1) I cannot scroll in the tab bar so it is a bit annoying...

[2015-09-29 15:46] justinhoward commented on #206
+1 The fuzzy search issue is what stops me from using the preview feature. Ideally, permanent tabs would be the default with a few special cases for previews. I believe sublime used previews only for single clicking in the tree and scrolling through fuzzy search (without clicking or hitting enter).

[2015-09-29 22:08] jandlint commented on #206
With preview mode active, you can make the tab stick around by saving (even though you've changed nothing). It's not perfect, but it helps me get close to my previous workflow.

[2015-09-30 06:29] Epigene commented on #206
@jandlint Cool trick, will tide me over for now.

[2015-09-30 15:02] lodev09 commented on #164
+10000

[2015-10-01 12:44] DanielSundberg commented on #206
+1 I would like to see this implemented the way @justinhoward describes it...

[2015-10-02 16:09] phord commented on #194
That seems a bit wonky to me, but I understand your need.  Suppose we had the paths in front of the filename, like this:

`myproject/foo/bar/controllers/global.js`  | `myproject/foo/bar/services/global.js`  | `myproject/foo/bar/directives/global.js` | `myproject/foo/bar/filters/global.js`  | `myproject/foo/bar/factories/global.js`

Then assume we could ensure the name was wrapped from the left ins

[2015-10-03 12:17] dobozysaurus commented on #160
+1

[2015-10-05 23:12] nicbet opened #211 "Tabs package causes AtomHelper process to consume 60-100% CPU on 13" Retina MacBook Pro"
## Problem
Tabs package causes AtomHelper process to consume 60-100% CPU on 13" Retina MacBook Pro. This causes the machine to significantly heat up and consume excessive battery.

## Steps to Reproduce
Occurs repeatably on OS X 10.10 and 10.11. Machine is a 13" Mid 2014 rMBP. Was doing some digging into why Atom would consistently consume high CPU on my machine, regardless of whether any file was

[2015-10-05 23:54] benogle commented on #211
Is this repeatable? What were you doing before the 60% usage? What are the steps to get the 60% usage?

I'm definitely not seeing this. On my 2014 15" mpb, Atom uses 0.7% with tabs enabled when not focused and 3% when focused. Disabling tabs has no effect for me.

[2015-10-05 23:57] nicbet commented on #211
Dug a little deeper - appears the cause is the UI animation for 'modified' file, e.g. added by this package https://github.com/kenwheeler/brogrammer-ui   which causes a red circle pulsate when a file has unsaved modifications. Disabling the 'tabs' package thus causes the animation not to be displayed. Not sure whether this is ultimately a tabs or a ui theme issue?

[2015-10-06 00:02] benogle commented on #211
Definitely a UI theme issue. Feel free to open an issue on their repo.

[2015-10-06 00:02] #211 closed

[2015-10-06 00:05] nicbet commented on #211
Thanks!

[2015-10-06 21:58] Xcodo commented on #206
+1 The behaviour of drag-and-drop has been annoying me particularly this week.

[2015-10-07 21:50] ssorallen commented on #196
@grayghostvisuals This functionality was modeled after Sublime Text from what I have read, and Sublime Text keeps the preview tab open even if you focus another tab.

[2015-10-07 22:08] ssorallen commented on #164
The notion of a "preview" view should be moved to the `atom.workspace.open` API so consumers like fuzzy-finder can opt out of the preview feature regardless of the setting. This is the same as Sublime Text [`sublime.Window::open_file`](https://www.sublimetext.com/docs/3/api_reference.html#sublime.Window) function, which uses the preview view only if the `sublime.TRANSIENT` flag is set. This would

[2015-10-08 08:33] #208 closed

[2015-10-08 13:59] ddavison commented on #196
I'm the author of this particular functionality - and yes.. this was a problem.  when you lost focus from the tab, I had a desire to make it close, but never got to that functionality :)

[2015-10-08 18:51] benogle commented on #36
Closing in favor of atom/atom#2287. This likely has nothing to do with tabs.

[2015-10-08 18:51] #36 closed

[2015-10-08 19:54] ddavison commented on #202
there's also one more method.  right click the tab, and Keep Preview Tab, but that's of course a little bit more work.

Also, @ProLoser, i have the most up-to-date version of sublime and sublime doesn't keep the tab fi you double click

[2015-10-08 20:03] ddavison commented on #202
also, @brianmhunt

if you double click the tab pane, it will create a new untitled tab

[2015-10-08 21:30] jmarlena commented on #97
Hey y'all!

I got this error too when I was editing my local instance of the GitHub help-docs site. I opened Atom from the terminal and tried to close open tabs of files I had worked on from a different branch.  The last two open tabs were from a different branch where I had changed the file names and when I tried to close the first one I  got this error:
[Uncaught Error: Emitter has been disposed

[2015-10-08 21:34] brianmhunt commented on #202
@ddavison – I do not see that behaviour. Double-clicking in the tab pane with an document displayed causes highlighting of any words under the cursor.

[2015-10-09 13:20] izuzak commented on #97
Hey, @jmarlena :wave: :octocat:

I'm not quite sure I understand what you're doing or trying to do. Could I trouble you to write down the exact steps of what you did (list of Git commands and actions in Atom) which reproduce this problem for you or describe your workflow, and also explain in what way exactly Atom isn't behaving as you expected when you perform some of those actions or run Git comm

[2015-10-13 20:14] techmag opened #216 "Dragging and dropping multiple files into open Atom editor window opens all files but then abruptly closes all but the last file/tab"
Expected behaviour when dropping multiple files is that all the files/tabs would stay open.

Work-around is of course to drag each file individually AND double-click on each tab as it is opened so that the next file does not close the previously owned tab.

It makes sense that in the case of multiple files then tabs should be auto-pegged as open as if they were double-clicked.

For a single file t

[2015-10-13 21:47] benogle commented on #49
I am closing this as a package idea. `vertical-tabs` sounds like a good name :)

[2015-10-13 21:47] #49 closed

[2015-10-13 23:45] 50Wliu commented on #216
What OS and Atom version is this on?

[2015-10-14 09:51] mbrammer commented on #194
Yeah, I think this would work.
And I hope I will never have that much files opend that I see just `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` | `l.js` :smile:

[2015-10-14 15:28] techmag commented on #216
OS X Yosemite 10.10.5 (14F27)

Fully patched and up to date (or course...)

Atom 1.0.19 also I believe fully up to date

My apologies for not including that with the initial post.

![about_-__users_garyhewett_documents_github_play_icrmbeta_-_atom](https://cloud.githubusercontent.com/assets/2105782/10488424/96dcf1b2-7266-11e5-8a24-fd1a70e1df31.jpg)

![blank_skitch_document](https://cloud.githubuser

[2015-10-14 21:27] mnquintana opened #217 "tab closing order"
_From @jacobhamblin on October 14, 2015 20:22_

With three tabs open and the middle one active, closing the tab makes the tab on the left active, whereas in Chrome or Safari, closing the the current tab makes the tab to its right active.

Maybe it's an intentional decision and there's no issue, but it isn't expected behavior to me.

Atom 1.0.19
OS X Yosemite 10.10.5

_Copied from original issue: a

[2015-10-15 14:52] Markypc3 commented on #97
There are two errors here strung together. The second error is pasted in after the end of the bug report and the reproduction steps are immediately following these.

1. have markdown preview open on right side of screen split.
2. split screen left or down (didn't test other possibilities)
3. Get error pane destroyed.
4. Close error
5. control tab to switch or try to close the pane with the mouse o

[2015-10-15 22:46] benogle opened #218 "Fix preview tabs"
There have been a lot of issues created related to preview tabs. It seems like nearly all of these issues could be solved by a couple things:

1. Create all tabs as 'permanent' by default and only open in a preview tab in a couple cases:
  * Single clicking in the tree-view
  * Single clicking in project find results pane
  * And eventually (when open files is suuuper fast) opening preview tabs wh

[2015-10-15 23:31] benogle commented on #218
This issue was moved to atom/atom#9165

[2015-10-15 23:31] #218 closed

[2015-10-16 22:27] kirkstrobeck opened #219 "Option for: Panel should stay open if single-clicked"
To be more like Sublime, when using preview tabs, there should be an option for: `Panel should stay open if single-clicked`

[2015-10-16 22:28] benogle commented on #219
What is a panel?

[2015-10-16 22:32] kirkstrobeck commented on #219
Window that may or may not be a column.

[2015-10-16 22:43] benogle commented on #219
Like clicking in an editor? Can you make a screenshot? Seems like the entire point of preview tabs is to open in preview mode when the file is single clicked.

[2015-10-16 23:33] kirkstrobeck commented on #219
The second click should make the panel *set*
http://cl.ly/dY0I

[2015-10-17 02:57] lee-dohm commented on #219
So if:

1. The option is enabled
1. An editor is temporary
1. You click inside the temporary editor

It should make the editor non-temporary?

[2015-10-17 03:19] kirkstrobeck commented on #219
@lee-dohm correct -- It’s an easy way to make a window stick when opening several for dev

[2015-10-17 03:25] lee-dohm commented on #219
Atom currently supports:

* Double-clicking the item in the tree view
* Double-clicking on the tab (in the tab bar)
* Saving the file (even if there are no changes)
* Changing the contents

Do we really need yet another method to affix a temporary editor? Especially one hidden behind an option?

[2015-10-17 22:18] AMPBEdu opened #221 "Uncaught TypeError: item.serialize is not a function"
Steps to reproduce:
1. Install browser-plus plugin/package
2. Open browser window (ctrl + alt + o)
3. Right click on undefined tab containing browser window and select one of the split options (up down left or right)
4. Receive error

Not sure if this is atom's fault or the browser-plus plugin/package fault.

**Atom Version**: 1.0.19
**System**: Linux Mint
**Thrown From**: [tabs](https://github.co

[2015-10-19 17:30] kirkstrobeck commented on #219
The option is deep nested. Search for the plugin, click the plugin, etc. It’s my preference that we have this. As it stands now, I need to type a character and delete to keep an editor open.

Most actions regarding web development and development in general don’t encourage double-clicking. It feels like an anti-pattern.

[2015-10-19 19:41] kuychaco commented on #76
@simurai @fungilation - Here's that atom package you were asking for: https://atom.io/packages/multirow-tabs

[2015-10-19 20:22] nathansobo commented on #221
This issue was moved to atom/atom#9217

[2015-10-19 20:22] #221 closed

[2015-10-19 20:25] nathansobo commented on #221
It's sort of the package's fault, but we could make some changes to pane splitting to avoid this exception when the item doesn't have a `copy` or `serialize` method.

[2015-10-20 12:53] simurai commented on #76
@kuychaco Awesome! Works in most themes. Some themes that don't work probably use a stronger selector. Just checked `atom-material-ui` which adds `!important` to its `height`. Not sure if you wanna battle back with also adding `!important`. :boom:

[2015-10-21 16:31] Bultack opened #224 "Failed to activate the tabs package"
[Enter steps to reproduce below:]

1. Fork the project atom/tabs
2. Clone it
3. Go to the folder using the cli and run `apm link --dev`
4. run `atom --dev`

**Atom Version**: 1.0.19
**System**: Windows 10
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.85.0

### Stack Trace

Failed to activate the tabs package

[code]

### Config

[code]

### Installed Packages

[code]

[2015-10-21 17:06] benogle commented on #224
You need to run `apm install` in the tabs directory.

[2015-10-21 17:06] #224 closed

[2015-10-23 21:59] chris-martin opened #225 "Option to disable the modified indicator"
When you're using autosave, the blue dot that appears next to modified files is an unnecessary distraction. The [CSS workaround to remove it](https://github.com/chris-martin/home/commit/941a3ec18ab5695c1125c880545ab62e0ca8cdf7) is somewhat ugly. It would be great to have an option to turn this feature off.

[2015-10-25 22:29] PachowStudios opened #226 "Extreme lag when dragging tabs"
Whenever I drag a tab to reorder it, it lags 5-15 seconds behind.

I have tried disabling all my packages and themes, but it seems to happen even on a clean install.

![Here is a gif of the issue](http://zippy.gfycat.com/PinkWeirdGalapagosalbatross.gif)

[2015-10-26 07:30] izuzak commented on #226
Thanks for the report, @PachowStudios. Can you post an equivalent GIF which demonstrates the problem in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? Also, can you share your OS+version and Atom version? And did this start happening recently for you or was it always slow like that?

[2015-10-26 13:27] psylone commented on #219
How about opening the tab from *Find File* (*Ctrl + P*) menu? If I checked `use preview` tab option, it will be more convenient (IMO) to stay tab open. Can I configure `tabs` for achieving such behaviour?

[2015-10-26 15:40] lee-dohm commented on #219
@psylone, that is covered by a separate Issue https://github.com/atom/fuzzy-finder/issues/108

[2015-10-26 15:49] psylone commented on #219
@lee-dohm, oh, sorry and tanks for that.

[2015-10-26 16:44] PachowStudios commented on #226
Sorry, I should've included more info.

I will try it in safe mode when I get home and report back. I believe this always happened, but I'm not 100% sure.

I'm running the latest Atom on Windows 10. System specs shouldn't be an issue (i7 gen 3, 16gb ram, ssd).

I just installed Atom on another computer running Windows 7 and it has no such issue out of the box. I'll pay very close attention as I in

[2015-10-26 16:57] 50Wliu commented on #226
Can you please specify *exactly* what version of Atom that is?  You can view the version in the Help menu.  (The reason I'm asking is because sometimes people *believe* they're on the latest version of Atom, but are actually 50+ releases behind)

[2015-10-26 19:30] PachowStudios commented on #226
v1.0.19

After installing all my packages to my windows 7 install, it works perfectly. I guess I'll try a clean install on my Windows 10 machine tonight and see if that helps.

[2015-10-30 20:11] Ajedi32 opened #227 "Update screenshot in the README"
Looks like the screenshot in the README is outdated? Atom's tabs don't look like that anymore.

[2015-10-31 09:41] #227 closed

[2015-10-31 11:46] bryansquared opened #229 "Uncaught TypeError: Cannot read property 'id' of undefined"
1. Have settings open
2. Make new window
3. Drag settings tab to new window
(edit: tested with a non-settings pane and it still threw this error)

**Atom Version**: 1.2.0-beta0
**System**: Microsoft Windows 10 Pro
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.87.0

### Stack Trace

Uncaught TypeError: Cannot read property 'id' of undefined

[code]

### Commands

[code]

### Con

[2015-11-01 17:27] izuzak commented on #229
Thanks for the report, @bryansquared -- I was able to reproduce this on the latest master version.

@as-cii @nathansobo -- I think this might be related to the [recent changes around dropping jQuery](https://github.com/atom/tabs/pull/222). Mind taking a look? :thought_balloon: I was unable to reproduce the problem on version 0.86.0 of this package (version before dropping jQuery), but was able to

[2015-11-01 18:49] as-cii commented on #229
I am taking a look right now. Thanks @izuzak and @bryansquared!

[2015-11-01 19:07] as-cii commented on #229
Okay, I narrowed it down. I am working on a fix right now, a PR should be out soon.

[2015-11-02 10:08] hgGeorg commented on #189
Not only is the tooltip affected. The `data-name` attribute remains unchanged too.

[2015-11-02 17:09] #229 closed

[2015-11-03 22:49] francoislaberge opened #232 "Dragging over tabs should switch tabs"
It would be great if when you are drag and dropping something onto atom pages if you drag over the editor tabs it would switch tabs to the editor who's tab you are hovering over. Some delay would likely be ideal.

[2015-11-10 11:32] dioxmio opened #233 "when searching a file the tab will in preview mode"
It's just a suggestion:

when searching a file (and **Use Preview Tabs** activated) the file will be open in preview mode. It might come in handy to have an option to configure that behavior. Some people might like to have this file opened in a new tab.

What do you think? I'm not sure about the naming. Maybe something like: **Use Preview Tabs on Search**

I can volunteer to do this feature if acc

[2015-11-10 22:37] adambuczynski commented on #170
Is there any chance someone can pick this issue up to progress it? It's one of the most persistent day-to-day frustrations that I still encounter when using Atom, and it's been open for 5 months already, while it seems like a fix should not be too much work to implement.

I'd offer my help to fix it, but I don't know much about the internal workings of Atom. However, if no one else can work on thi

[2015-11-12 14:10] sahina opened #234 "Uncaught Error: The workspace can only contain one instance of item [object Object]"
One set of steps to reproduce from https://github.com/atom/tabs/issues/234#issuecomment-306439035:

1. Start Atom with some project `atom .`
2. Right click `Project` above the tree view
3. Choose one of the `Split` options, e.g. `Split Down`

At this point you get the error and the project in the tree view disappears - you need to clear saved state to use the project again.

---

1. Updated packag

[2015-11-13 11:26] gfviegas commented on #233
You mean when you use **CTRL + P** and open a file? For me, the file opens in preview mode and it's really annoying... I wish I could have the same behavior Sublime Text has, as I think ctrl+P is a search and OPEN a file.
It bothers me because when I already have a file in preview, when I click in tree view for example, and then I open another in ctrl+P it closes the one in preview, so I have to d

[2015-11-13 11:46] dioxmio commented on #233
@gfviegas that's exactly what I mean :+1:

[2015-11-13 11:57] gfviegas commented on #233
So.. +1!

[2015-11-17 16:49] eyalw opened #235 "Files not opening in tabs"
Same issue as described here:
https://github.com/atom/tabs/issues/102

**description**
1. files are open - but tabs are not showing
2. to open a file - (from fuzzy search - cmd+p) you need to actually press enter twice. the first enter is ignored.
3. I can still cycle the invisible tabs with cmt+tab

[2015-11-17 16:52] ddavison commented on #235
do you see this when running atom in safe mode?

[2015-11-17 17:36] fungilation commented on #76
Nice, thanks @kuychaco. Made a request though on remembering multirow setting between Atom restarts? https://github.com/kuychaco/multirow-tabs/issues/5

[2015-11-17 17:44] jonniedarko commented on #160
+1

[2015-11-17 17:48] jonniedarko opened #236 "Duplicate Tab opened in split view"
When In split view if I already have a file open and click on it in the side menu it opens another tab in the currently active split view if tab is not in that split view (but is in another one of the split views. it should be default active the already open tab in the other split view.

[2015-11-17 17:53] VeritasX opened #237 "Tabs not appearing"
Tabs are not appearing when opening files from the filetree

[2015-11-17 18:30] eyalw commented on #235
does not reproduce in safe mode… :/I guess I’ll start disabling packages and write you back with my findings.

—
Eyal Wiener

On Tue, Nov 17, 2015 at 8:04 PM, Dj <notifications@github.com> wrote:

[2015-11-17 18:50] justinpinili commented on #237
+1.

version
- 1.2.1

packages
- aligner
- autocomplete-paths
- color-picker
- move-panes
- nuclide-hg-repository
- script

[2015-11-17 20:28] eyalw commented on #235
After going into safe mode (where everything worked) and then returning back, everything now works all of a sudden...

[2015-11-17 20:28] #235 closed

[2015-11-17 20:30] ddavison commented on #235
glad to hear it :)

[2015-11-17 21:16] benogle commented on #237
Can you try starting atom in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

Can you paste in the result of `apm list`?

Refs #235

[2015-11-18 11:24] p-j commented on #237
I have the same problem. In safe mode it works fine.
I'm running Ubuntu 14.04.3.
[code]

[2015-11-18 11:55] p-j commented on #237
More information : removing all nuclide's package solve the problem.
And inspecting Atom while opening a file from the treeview with nuclide's package installed yield the following error in the console :
[code]

[2015-11-18 12:24] ddavison commented on #237
then this issue should probably be filed with the owner of the package that is causing the issue. start removing your packages one by one and relaunching atom each time to see if it fixes it. the last package you remove after it works, is the problem package.

[2015-11-20 04:40] james-y opened #239 "Uncaught TypeError: this.item.getTitle is not a function"
### Reproduce
Related code snippet when trying to add a new instance of a TextEditor to an empty Pane.
Probably just trying to do doing this in an incorrect way...
[code]

**Atom Version**: 1.2.3
**System**: Ubuntu 14.04.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: this.item.getTitle is not a function

[code]

### Commands

[code]

[2015-11-20 05:10] james-y commented on #239
Nevermind, figured it out.
Could use this function instead:
[code]
Which gets the TextEditor built correctly.

[2015-11-20 05:10] #239 closed

[2015-11-20 19:08] dbroadhurst commented on #164
+1 personally just like to see temporary files just coming from the tree selector since I'm generally just browsing

[2015-11-24 04:58] breiter commented on #234
## Reproduce
I have preview tabs on and had a buffer open that I told Atom not to save before it restarted to apply a version upgrade.

[2015-11-24 21:34] VeritasX commented on #237
I did a complete reinstall of mac os and then reinstalled atom everything seems to work fine now

[2015-11-25 02:52] lee-dohm commented on #237
@VeritasX great news! Thanks for reporting back. Please let us know if you have any additional questions or concerns.

[2015-11-25 02:52] #237 closed

[2015-11-26 15:28] Dremora commented on #233
I think preview mode should only apply when files are opened from the file tree. In any other scenario (opening from search results, opening via `Command-P`) it should just open. There's no way to double-click on something in those UIs to opt-out of preview mode. I'd also argue that this behaviour shouldn't be configurable — at least not until users start asking for it, which might not happen.

[2015-11-27 14:03] maiksd commented on #33
I find that this isn't fully addressed by the multi-folder feature. I usually don't care about the tree and hide it, and I'm just opening files from different locations, and I always want them to open in tabs, but often they open in separate windows, and I then have to shuffle the tabs around.

[2015-11-29 18:28] NikosEfthias opened #240 "Uncaught Error: Cannot read property 'showMessageBox' of undefinedTypeError: Cannot read propert..."
cannot close unsaved tabs

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Ubuntu 15.10
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught Error: Cannot read property 'showMessageBox' of undefined
TypeError: Cannot read property 'showMessageBox' of undefined
    at EventEmitter.<anonymous> (/usr/share/atom/resourc

[2015-12-06 21:13] redtopia commented on #136
I can't find a way to access tabs that are not displayed when the window is too narrow. There is no tab bar scrollbar and my mousewheel doesn't scroll them. For me, this is a major UI flaw because I tend to have a bunch of tabs open that will fill up my tab bar, and then I use the menu to access the ones I can't see. The best way to deal with this is the way Sublime Text 3 does it... there's a men

[2015-12-08 13:16] akandshuvo opened #241 "Uncaught TypeError: Cannot read property 'addWarning' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.2.4
**System**: Ubuntu 15.10
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot read property 'addWarning' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-12-09 08:11] v3ss0n commented on #136
Can we get someone working on it? Core devs are busy with others but this is one of biggest UX flaw as project become complex.

[2015-12-14 12:35] sidkat opened #242 "Atom not responding when trying to open files with similar paths"
In a project with a file structure like

    /a/1/index.html
    /a/2/index.html
    /a/3/index.html
    ...
    /b/1/index.html
    /b/2/index.html
    /b/3/index.html
    ...

trying to open more than two index.html files freezes Atom when tabs package is enabled (since Atom Version 1.3)

[2015-12-14 14:15] 50Wliu commented on #242
This has been fixed in 1.4.0-beta0 already.

[2015-12-14 14:15] #242 closed

[2015-12-14 23:29] nchlswtsn opened #243 "When clicking the "x" to close tabs, they should temporarily become equal width"
When rapidly closing several tabs, you have to click "x" and move your mouse a bit to locate the next "x" because the following tab's "x" is not in the same position due to increasing tab widths. This expansion of tab widths should occur only after a short delay of clicking "x" so that you can close all tabs before the adjustment occurs.

Chrome uses this method of delayed tab width adjustment, fo

[2015-12-15 00:13] mnquintana commented on #243
Thanks for the suggestion! This looks like a duplicate of https://github.com/atom/tabs/issues/129 – feel free to subscribe there for updates.

[2015-12-15 00:13] #243 closed

[2015-12-18 16:26] GuillaumeLegendre commented on #216
Hello ! after a little test I have the same thing when the preview tabs is enable. It open the first one as preview then the second too. So the first one preview tab is destroy. Maybe in case of drag and drop of multi-files it could be great if they weren't preview. I guess the same issue appear if it's open from files system or terminal.

PS: You can reopen one files after each other with double

[2015-12-24 09:17] sbrl opened #245 "Can't rearrange tabs"
Rearranging tabs on the top bar of my installation of atom sometimes works, and sometimes doesn't. Here's a link to my settings:

https://gist.github.com/sbrl/85cf891cc52543567204

Here's an animated gif of what I mean:

![gif](http://i.imgur.com/Fow1yyo.gif)

[2015-12-24 15:23] 50Wliu commented on #245
Hi @sbrl, can you please try to reproduce this in safe mode (`atom --safe`)?  Thanks!

[2015-12-24 15:28] sbrl commented on #245
@50Wliu Apparently not! I don't understand that.

[2015-12-24 15:31] 50Wliu commented on #245
@sbrl Ok, then this sounds like a problem with one of the packages you installed.  You can either try disabling each one manually (if you don't have a lot of packages), or you can try using the [package-cop](https://atom.io/packages/package-cop) package by @mark-hahn.

[2015-12-24 15:31] #245 closed

[2015-12-24 15:35] sbrl commented on #245
Right. Thanks! I'll take a look at package-cop.

[2015-12-26 11:49] sbrl commented on #245
For future reference, I've discovered that it was the [new-tab](https://atom.io/packages/new-tab) package that was causing the problem, and I have filed jerone/atom-new-tab#4. package-cop helped a lot - thanks :smile:

[2015-12-28 02:05] prm10 opened #247 "Uncaught Error: Adding a pane item with URI 'E:\github\LSTM_in_GL\using_torch\practical5-master\m..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.3.2
**System**: Unknown Windows Version
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught Error: Adding a pane item with URI 'E:\github\LSTM_in_GL\using_torch\practical5-master\main.lua' that has already been destroyed

[code]

### Commands

[code]

### Config

[code]

### Installe

[2015-12-29 14:58] aribeiroc commented on #233
+1! is really needed :)

[2015-12-30 11:03] icem commented on #160
:+1:

[2015-12-31 23:55] adambuczynski commented on #234
Got this error when I re-opened a project window (through project-manager) that had crashed.

[2016-01-02 15:06] anderoonies commented on #236
this seems like a result of the [searchAllPanes](https://github.com/atom/atom/blob/1fac3cb4e2608402831600c5f63dae38329251b1/src/workspace.coffee#L401) boolean defaulting to false

[2016-01-02 18:20] creedrogers commented on #76
Thanks, @simurai !!  :+1:

[2016-01-07 13:27] kafeltz opened #248 "Close all tabs does not work"
In (File -> Close All Tabs) do nothing if a tab is not selected (focused).

To un-focus a tab, just click in some file in tree-view and go right in (File -> Close All  Tabs).

You have to click anywhere in any tab to gain focus before going in Close All Tabs.

[2016-01-07 23:37] VoronaPavel commented on #93
I still can reproduce this bug, not sure why it is closed.

[2016-01-07 23:39] 50Wliu commented on #93
@VoronaPavel It's not closed.

[2016-01-08 06:54] VoronaPavel commented on #93
@50Wliu Sorry, my bad.

[2016-01-09 22:10] adambuczynski opened #249 "Preview tabs shouldn't issue warning when closed after file is deleted"
Consider the following scenario:

1) Single click a file in tree view to preview
2) Look at contents of file, decide you don't need it anymore
3) Right click file in tree view and select delete
4) Single click on another file in tree view
5) Annoying alert pops up telling you the first file has changed and if you want to save the changes

I reckon that that warning should be suppressed for preview

[2016-01-11 03:00] jackjen commented on #198
I personally find it very jarring to have the tab close on mouse down.
I'm going to list a few of the applications I use which are on mouse-up for closing tabs on Mac:

Safari: mouse up - check
Chrome: mouse up - check
Firefox: mouse up - check
Sublime Text 3: mouse up - check
Xcode 7: mouse up - check

Why would this be considered bad UX to have the action happen on click. To me it seems to be bu

[2016-01-12 22:42] dgm commented on #234
I get this error repeatedly, usually after doing a search in files and the closing the results with cmd-w.  I also noticed once that the tab order was wonky - alt-2 and alt-3 went to the wrong tabs, like they had gotten reversed.

[2016-01-17 09:17] paulpflug commented on #188
seemingly fixed with https://github.com/atom/atom/pull/10178

[2016-01-17 09:17] #188 closed

[2016-01-17 09:17] paulpflug commented on #185
seemingly fixed in https://github.com/atom/atom/pull/10178

[2016-01-17 09:17] #185 closed

[2016-01-20 00:36] alexandernst commented on #132
Any news on this one?

[2016-01-20 00:36] alexandernst commented on #129
Any news on this one?

[2016-01-20 08:15] KeitIG commented on #132
Not really from my side, I'm a bit busy these times, I will try to have a look anyway

[2016-01-22 10:36] scippio opened #250 "Keep Pending Tab - every tab"
After update when I open some file now.. Every tab have "Italic" file name and I must right click on it a set "Keep Pending Tab" because when I open another file this file closed :(

It's "new feature"? Or I'm missing something new settings like "kepp every new tab pending"?

[2016-01-22 23:07] danielbayley opened #251 "Duplicate tree-view ‘Rename’ functionality to tabs"
Namely a matching contextual menu item that works from tabs rather than only being available in tree-view.

[2016-01-23 02:02] Saucy commented on #250
Uncheck "Use Preview Tabs" in the Tabs package.

(Btw you can also double click the name of the file to "keep it")

[2016-01-23 22:35] scippio commented on #250
don't have this option:

[![https://gyazo.com/09aee43810dcb3cadabbcbfc1b055259](https://i.gyazo.com/09aee43810dcb3cadabbcbfc1b055259.png)](https://gyazo.com/09aee43810dcb3cadabbcbfc1b055259)

[2016-01-24 21:08] lee-dohm commented on #250
In the latest versions of Atom, pending files are the default and there is no option to disable the behavior. There are multiple ways to "confirm" a pending file:

1. Double-click the tab (if you have the tabs package enabled)
1. Double-click the file in the tree-view (when opening or already opened ... works either way)
1. Edit the contents of the file
1. Save the file

Let us know if you have an

[2016-01-24 21:08] #250 closed

[2016-01-27 15:46] ArchFish commented on #136
like @redtopia said,need it very much!

[2016-01-27 18:54] benogle commented on #170
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:54] #170 closed

[2016-01-27 18:55] benogle commented on #206
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:55] #206 closed

[2016-01-27 18:55] benogle commented on #202
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:55] #202 closed

[2016-01-27 18:56] benogle commented on #173
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:56] #173 closed

[2016-01-27 18:56] benogle commented on #164
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:56] #164 closed

[2016-01-27 18:57] benogle commented on #163
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

[2016-01-27 18:57] #163 closed

[2016-01-27 19:00] benogle commented on #207
This is fixed on master and the 1.5.x line which is in beta now. See https://github.com/atom/atom/issues/9165 for more information.

If you can still reproduce this on 1.5 beta, please let us know.

[2016-01-27 19:00] #207 closed

[2016-01-27 19:18] adambuczynski commented on #164
:+1:

[2016-01-27 19:25] d4rkr00t commented on #163
Wow, great, thanks!

[2016-01-27 22:07] brendanblackwood commented on #164
Thanks guys! :+1:

[2016-01-28 16:19] janmarek commented on #160
I hate how Atom team just ignores these easy to fix UI problems.

[2016-01-28 16:22] MikeSchuette commented on #160
@janmarek PRs are always welcome

[2016-01-28 18:44] anderoonies commented on #251
`tree-view` relies on [move-dialogue](https://github.com/atom/tree-view/blob/master/lib/move-dialog.coffee) to accomplish (and does so well)—what's the best practice for using the functionality from another package? it doesn't seem worth adding it as a submodule for one file.

[2016-01-29 02:28] Manabu-Shirato opened #253 "Uncaught TypeError: Cannot read property 'forEach' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.1
**System**: Mac OS X 10.10.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-29 12:40] iKlsR commented on #248
Able to reproduce this in 1.4.

[2016-01-31 00:33] duboff opened #254 "Uncaught TypeError: Cannot read property 'isValid' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.1
**System**: Mac OS X 10.11.2
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot read property 'isValid' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-01-31 03:04] 50Wliu commented on #254
Hi @duboff, what were you doing when this occurred?

[2016-01-31 11:31] duboff commented on #254
Hi @50Wliu, I am not quite sure. I think just tried opening multiple panes and searching. Was my first time using Atom. Sorry, but can't provide more context.

[2016-02-01 15:37] kankaristo commented on #253
Got this today with Atom 1.5.0-beta1, when closing the last tab in a pane (destroying the pane).

**Atom Version**: 1.5.0-beta1
**System**: Ubuntu 15.10
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot read property 'forEach' of undefined

[code]

[2016-02-01 21:12] jhicken commented on #253
I am also getting this issue.

My steps to reproduce this are.
1. Install https://github.com/littlebee/git-time-machine
2. run `Git Time Machine: Toggle`
3. close the diff pane on the right side of the editor

4. bask in the brokeness of the editor. / profit

Let me know if you need more info.

I would dig deeper but I don't have time at the moment.

[2016-02-01 21:14] benogle commented on #253
@kankaristo does this happen all the time for you? Can you try starting atom in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)?

My hunch is that some package is putting returning an undefined to some function that is putting the return value in a composite disposable.

[2016-02-02 07:24] kankaristo commented on #253
@benogle, happens every time, but not in safe mode.

The culprit seems to be [foldername-tabs](https://atom.io/packages/foldername-tabs), which was updated 2 days ago. I'll open an issue there.

[2016-02-02 12:46] kankaristo commented on #253
I'm not getting theerror anymore, after updating foldername-tabs to version 0.1.9 (released a few hours ago).

[2016-02-02 13:52] 50Wliu commented on #253
Closing since @Manabu-Shirato also had foldername-tabs installed, and the latest version seems to fix the issue.

[2016-02-02 19:26] benogle commented on #253
Imma reopen this as I think it's something we should guard against in core.

[2016-02-02 20:04] ethanclevenger91 opened #255 "Don't immediately resize tabs on close"
In Chrome, if you close a tab, the other tabs don't resize until you mouse out of the tab area plus a short timeout. This is great, because you can close several tabs in quick succession without having to move the mouse.

With Atom, the tabs resize immediately if need be, which moved the close button, so you have to mouse back to it. Would be nice the Chrome-like behavior in Atom.

[2016-02-02 20:31] 50Wliu commented on #255
Hi @ethanclevenger91, this seems to be a duplicate of #129 - feel free to subscribe there for updates.  Thanks!

[2016-02-02 20:31] #255 closed

[2016-02-02 20:39] ethanclevenger91 commented on #255
Ah, I looked and everything. Thanks!

[2016-02-03 23:47] paulpflug opened #256 "API request: controlling the title text of the tabs"
From: https://github.com/atom/atom/issues/10654
Mention: @lee-dohm

For my package [foldername-tabs](https://atom.io/packages/foldername-tabs) I currently need to track the tabs to change their content. This is very tedious, as tabs are getting repainted nearly everywhere. (I need 1 watcher on workspace and two on every pane)

A api, which would let me control the text directly, would make my pack

[2016-02-04 11:03] magic890 commented on #234
**Atom Version**: 1.4.3
**System**: Mac OS X 10.11.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught Error: The workspace can only contain one instance of item [object Object]

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-05 09:46] janmarek commented on #160
@MikeSchuette How can you be so sure? We have no reaction from the core team here. They should let us know they agree it is a good idea. Nobody wants to waste their time for nothing.

[2016-02-05 14:28] 50Wliu commented on #160
@janmarek The `atom` label means that the Atom team is interested in bringing this functionality into core, so yes, a PR is welcome.  You could also have asked if a PR would be welcome (they almost always are) instead of jumping straight to conclusions.

[2016-02-07 05:30] zirho commented on #156
+1

[2016-02-09 00:33] rekurt opened #257 "Uncaught TypeError: Cannot read property 'getItems' of undefined"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.3
**System**: elementary OS
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught TypeError: Cannot read property 'getItems' of undefined

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2016-02-09 10:15] kirsanv43 opened #258 "Uncaught Error: Adding a pane item with URI 'C:\Users\Kirill\Documents\TMKWeb\TMKWeb.Web\Scripts\..."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.4.3
**System**: Unknown Windows Version
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0

### Stack Trace

Uncaught Error: Adding a pane item with URI 'C:\Users\Kirill\Documents\TMKWeb\TMKWeb.Web\Scripts\reactApp\app\components\DefinitionNode.jsx' that has already been destroyed

[code]

### Commands

[code

[2016-02-10 17:53] miduga commented on #156
For those who come from Sublime Text this addition is a must. Thanks!

[2016-02-10 18:17] zirho commented on #156
I think this is fixed.
I updated it and works fine now.

[2016-02-10 18:21] adambuczynski commented on #156
It is supposedly fixed in 1.6.0 beta of Atom. See also https://github.com/atom/atom/issues/9165

[2016-02-10 20:31] alexrussell commented on #156
In the version I use (the Beta) preview tabs now works exactly as expected - single click in tree = preview, double click in tree = permanent, double click preview tab titlebar (or edit text buffer in some way) = preview becomes permanent.

[2016-02-10 20:36] lee-dohm commented on #156
I'm also adding some stuff to the Flight Manual about this:

https://github.com/atom/docs/pull/163

[2016-02-10 22:31] ddavison commented on #156
@lee-dohm et al.. since Preview Tabs was previously the sublime tabs package, here is the "spec" of features that was offered by sublime tabs.

https://github.com/ddavison/sublime-tabs/issues/43#issuecomment-71578025

double clicking to make tabs permanent was built-in.

*fwiw*

[2016-02-11 17:31] azrobbo opened #259 "Uncaught TypeError: Cannot read property 'split' of undefined"
Please Close - user error caused by a bad atom configuration - it was pointing to an old package file location.

[2016-02-11 17:46] #259 closed

[2016-02-12 07:10] davibe commented on #57
I am developing large react+redux app where i organize files by feature rather than file type. Therefore i have similar structure

[code]

As you can imagine in this case the best option would be to show "as much path tokens as needed to make the tab name unique starting from the filename going upwards in the path tree". Therefore my tab names could be i.e.

"Component1/index.js", "Component2/inde

[2016-02-13 02:52] lee-dohm commented on #160
@acontreras89 can you take a look at this?

[2016-02-13 03:29] lee-dohm commented on #160
Here's what I did to reproduce this:

1. Launch Atom in a project directory
1. Open a new file using <kbd>Cmd+N</kbd>
1. Save the file as `test.txt` by pressing <kbd>Cmd+S</kbd>
1. Find the file in the tree-view, right-click it and select "Delete"
1. Click the "Move to Trash" button in the dialog that pops up

**Expected:** Both the file to disappear from the tree-view and the tab to close
**Actua

[2016-02-13 03:42] acontreras89 commented on #160
I cannot reproduce this on Linux, although I'm positive I've had this very issue while in the office (with OS X.) If no one takes the challenge, I'll try to take another look from there :muscle:

[2016-02-13 06:08] anderoonies commented on #160
looks like this is a result of files on OS X not being "deleted" but rather moved—i cooked up a primitive solution subscribing to rename events, i can create a PR tomorrow and see if it's on the right track

[2016-02-13 07:43] adambuczynski commented on #160
Yes, if the files are "moved" to the trash, you can happily keep editing them from within the trash, as it's just a hidden location, but accessible like any other.

Is this different on Windows?

[2016-02-15 00:15] supaiku0 opened #261 "Uncaught Error: Undefined screen line when clipping screen position"
[Enter steps to reproduce below:]
1. Close a bunch of files which got deleted on FS
2. Click Don't Save on each message
3. Eventually the error is reproduced

**Atom Version**: 1.5.3
**System**: linux 4.3.5-1-ck
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0
### Stack Trace

Uncaught Error: Undefined screen line when clipping screen position

[code]
### Commands

[code]
###

[2016-02-15 02:24] anderoonies commented on #160
it looks like this issue goes further up into the implementation of File in node-pathwatcher—the `'did-delete'` event is never emitted when a file is moved to the trash.

[2016-02-15 02:27] adambuczynski commented on #160
So I guess the question becomes if we should raise the issue there, or if Atom should check if a file has been moved to the trash, and trigger the delete event in that case?

I'm inclined to think Atom should do this check, as moving a file to trash is officially not a file delete event.

Once I empty the trash, the tab does close by the way.

[2016-02-15 07:11] Haraldson commented on #160
I’d say emitting a `did-delete` event upon moving a file to the trash would be the best fit to the whole Apple way of thinking. Only techies care about the distinction that it’s not *technically* **deleted**, but merely **moved**.

[2016-02-15 07:45] adambuczynski commented on #160
True, but a lot of techies probably use that node package, and if it
suddenly starts emitting deleted events for moved files, that might upset
them :)

On Mon, Feb 15, 2016, 20:11 Hein Haraldson Berg <notifications@github.com>
wrote:

[2016-02-15 11:43] acontreras89 commented on #160
That's what I suspected.

I'd give a penny for @kevinsawicki's thoughts on whether `node-pathwatcher` should be emitting `did-delete` events for files moved to the trash in OSX.

[2016-02-15 19:16] lee-dohm commented on #160
I haven't looked at node-pathwatcher, but I assume it emits an event on filename or path changes? What if, on OS X and when moved to `.Trash`, we respond to those by closing the tab?

[2016-02-15 19:42] adambuczynski commented on #160
@lee-dohm yes that's what I thought would make the most sense

[2016-02-16 00:04] acontreras89 commented on #160
I would agree with you, but I thought since `node-pathwatcher` is a module of atom's it was worth asking what the best approach would be.

On the other hand, maybe this should be solved somewhere else and not the `tabs` package.
Even if the event will not be emitted by `node-pathwatcher`, maybe atom's core should be in charge of triggering it (if _everyone_ is supposed to act as if the file were d

[2016-02-16 00:45] adambuczynski commented on #160
I didn't realize `node-pathwatcher` was an Atom package. In that case, it's probably best to have this handled as close to the source as possible, so that all packages listening to the delete event will behave in the same consistent and predictable manner.

[2016-02-16 00:53] acontreras89 commented on #160
:smiley:

[2016-02-17 02:49] adambuczynski commented on #160
Also referencing https://github.com/atom/fuzzy-finder/issues/168

[2016-02-18 20:43] smaili opened #264 "Feature request: open files at the end"
Would it be possible to add an option for having files that are opened be added to the end of the tabs rather than right after the currently open tab?

[2016-02-19 20:50] #241 closed

[2016-02-19 20:58] jacobmischka commented on #137
Scrolling over tabs to switch tabs (the current behavior) is pretty common. Works that way in every tab-based interface I can think of, Chrome, gnome-terminal, and zeal being three that I have open at the moment. Shift + scroll is also very common to scroll horizontally. The current behavior is good default behavior I think.

Maybe a setting might be nice to swap the two if this many people want i

[2016-02-20 15:56] dessant commented on #137
@jacobmischka, i've just tested Chrome on Windows, if does not switch tabs upon scrolling.
In any case, Chrome does not support tab overscrolling, all tabs stay visible at all times.

Firefox might be a better example for the tab behavior people seem to expect.

I do agree that an option to toggle the default behavior might be the best route.

[2016-02-20 16:41] jacobmischka commented on #137
Oh weird, it does for me on Linux. I didn't realize it was different. And yes it doesn't, you're right.

[2016-02-22 19:43] Daniel15 opened #265 "Dragging tabs does not work"
I recently upgraded from Atom 1.1.0 to 1.5.3, and now dragging tabs does not work. I'm unable to drag tabs to other panes, or even rearrange them within the same pane. Any ideas on how to debug this?

Installed user packages:
[code]

[2016-02-22 21:53] 50Wliu commented on #265
Can you try safe mode (`atom --safe`)?  If that works, you can use @mark-hahn's [package-cop](https://atom.io/packages/package-cop) package to try to pin down the troublesome package that's causing your issue.

[2016-02-22 23:19] Daniel15 commented on #265
Package cop is awesome! It helped me determine that `omnisharp-atom` was causing the issue. Thanks!

[2016-02-22 23:19] #265 closed

[2016-02-24 00:15] digitalmaster commented on #250
@lee-dohm Looks like this doestn work for certain file types. If i click an `.html` or `.js` this works as expected.. However, if i click on an image it creates confirmed tabs for all of em. I have the latest beta build.

[2016-02-24 02:06] lee-dohm commented on #250
@digitalmaster Please open a new bug for your Issue and @-mention me on it.

[2016-02-24 05:22] digitalmaster opened #266 "File preview does not work for images"
Looks like pending tabs don't work for certain file types. If i click an .html or .js this works as expected; you see a preview of the file but tab does not stick around unless perform and confirmation action (ex Double Click).

However, if i click on images it creates confirmed tabs for all of em automatically.

FYII have the latest beta build.

CC: @lee-dohm

![image](https://cloud.githubusercon

[2016-02-24 05:22] digitalmaster commented on #250
@lee-dohm Done. Thanks

[2016-02-24 20:53] xiata commented on #129
Following is a hack that is pretty close to Chrome's tab closing behavior. That what you're talking about?

[code]

[2016-02-25 01:27] simurai commented on #129
Haven't tested @xiata code, but here a gif of Chrome's behavior:

![tabs](https://cloud.githubusercontent.com/assets/378023/13306779/e40a34fc-dba9-11e5-84be-77e38d30802e.gif)

Notice that the tabs resize only __after__ leaving the tab bar. Quickly close tabs like this would only work if all tabs are the same size or if the close button is on the left. So it also depends on the theme.

[2016-02-25 09:58] savvopoulos commented on #198
+1

[2016-02-25 15:10] MartinMuzatko opened #267 "Uncaught Error: Adding a pane item with URI '/home/martin/dev/git/scroll-pdf-cloud/src/main/front..."
[Enter steps to reproduce below:]

1. Have some Tabs loaded
2. Split View
3. Load some more Files
4. Close one Pane
5. Restart Atom
6. Have only one Pane but Files of both
7. Rightclick on Tabs -> Close Pane
8. Half of Tabs from earlier merged Pane are lost
9. Rightclick on Tab -> Close Tab

**Atom Version**: 1.5.3
**System**: Ubuntu 15.10
**Thrown From**: [tabs](https://github.com/atom/tabs) pack

[2016-02-25 17:41] 50Wliu commented on #267
Looks similar to atom/atom#10903.

[2016-02-25 20:50] forivall opened #269 "Regression: double clicking an item in the tree view will no longer unpreview / terminate pending state"
this was originally introduced in https://github.com/atom/tabs/commit/73658a9391ce91aa60c43dd710b3a6fc4c816df9 and no longer works since the refactor from preview -> pending

[2016-02-26 02:12] leesdolphin opened #270 "Duplicate `Copy Full Path` and `Copy Project Path` from tree-view"
Add 2 items to the tabs context menu to copy the file and project path. The implementation in atom/tree-view is [here](https://github.com/atom/tree-view/blob/master/lib/tree-view.coffee#L318)

[2016-02-26 02:12] leesdolphin commented on #270
I'll try and create a pull request tonight

[2016-02-26 07:33] MartinMuzatko commented on #267
@50Wliu Yep! About the same with funny sideeffects.

[2016-02-26 20:20] lee-dohm commented on #267
Closing this as a duplicate of atom/atom#10903 then. Let me know if I jumped the gun :grinning:

[2016-02-26 20:20] #267 closed

[2016-02-28 05:01] gmincof opened #271 "Uncaught TypeError: Cannot read property 'dataset' of null"
[Enter steps to reproduce below:]
1. ...
2. ...

**Atom Version**: 1.5.3
**System**: Mac OS X 10.11.3
**Thrown From**: [tabs](https://github.com/atom/tabs) package, v0.88.0
### Stack Trace

Uncaught TypeError: Cannot read property 'dataset' of null

[code]
### Commands

[code]
### Config

[code]
### Installed Packages

[code]

[2016-02-29 21:05] shushz commented on #271
It is related to a recent change in Nuclide - it introduced an extra `<span>` around file names in its file-tree.
The exception is triggered by a double-click opening a file from the Nuclide's file-tree when "usePreviewTabs" is enabled.

The workaround for now is disable the "usePreviewTabs"

The fix is either have the extra span have the `data-path` property or/(and) have the dblclick listener in

[2016-02-29 22:02] #264 closed

[2016-03-01 01:03] kuychaco commented on #266
Thanks @digitalmaster. Fixed via https://github.com/atom/atom/pull/10959 and related PRs.

[2016-03-01 01:03] #266 closed

[2016-03-01 01:28] digitalmaster commented on #266
@kuychaco awesome!

[2016-03-01 21:55] ijanos opened #275 "Tab bar never hides in splits with disabled "Always Show tab bar""
After splitting the editor and the tab bar appears it will never disappear despite showing only one tab per split. With the `Always show tab bar` setting disabled I expect that splits with one tab will hide their tab bar. Initially upon split creation they do hide it but once it appears it will stay there.

[2016-03-02 16:00] anderoonies commented on #275
this is a result of how [shouldAllowDrag](https://github.com/atom/tabs/blob/3ec77a46b737894af04bebb68e614d73b1208695/lib/tab-bar-view.coffee#L179) works—if it's refactored to, for example,
[code]
then it has what i think is your intended result. the only problem then is what to do when dragging a tab onto the pane without a tab bar. ideally it should un-hide to allow it to be added—i can look into

[2016-03-02 17:13] anderoonies commented on #275
after thinking about this a bit it seems like it's not a bug—ending up in a case where a pane has no tab bar means it's impossible to move the item to another pane/move items to that pane. maybe the change should be to have the tab bar in the new pane immediately after split.

[2016-03-02 17:27] ijanos commented on #275
Then what is the point of the Always show tab bar setting?

I like the idea of the tab bar appearing if I drag another tab to the top part of a pane. Constantly showing a tab bar visual clutter if only one tab is open in the pane and it is wasted space with a horizontal split.

[2016-03-02 17:55] anderoonies commented on #275
as far as i can tell it only applies to an editor with 1 tab and 1 pane.
i agree that tab bar should appear when dragging and i can write that but the logic for showing/hiding probably shouldnt be in `shouldAllowDrag`

[2016-03-02 18:07] ijanos commented on #275
If it applies to one editor with one pane then this issue is not a bug report but a feature request :)

But seriously, the current status of this is not consistent and personally I prefer no tab-bars (somewhat similarly how Visual Studio Code does things, with no tabs at all).

If you decide this is not how atom should work maybe the whole `Always show tab bar` settings should be removed and the f

[2016-03-03 03:20] lee-dohm commented on #275
I agree that this is a bug.

[2016-03-03 17:41] anderoonies commented on #275
i implemented how i think this should work with hiding/unhiding, visible in the attached gif
i'll have to think of the best way to write specs for this, though. i can put up a PR now if you'd like or wait until i have specs written

![hide-tab-bar](https://cloud.githubusercontent.com/assets/6645121/13503409/def87376-e134-11e5-999b-19aa381536da.gif)